.graph {
    stroke: #002f42;
    fill: none;
    stroke-width: 1.2px;
    stroke-linecap: round;
}

.graph.filled {
    stroke-width: 1.2px;
    stroke: #002f42;
    fill: rgba(255,255,255,0.5);
}

.graph.outline {
    stroke-width: 2px;
    stroke: #002f42;
    fill: none;
}


