.box {
    background: #eee;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.inset {
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #fff;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #f3f3f3;
}

#demo.button .toolkit-button .toolkit-icon {
    width: 3em;
    height: auto;
}

#demo.buttonarray .toolkit-buttonarray.toolkit-vertical {
    /*width: 20%;*/
    height: 400px;
    margin-right: 20px;
    float: left;
}
#demo.buttonarray .toolkit-buttonarray.toolkit-horizontal {
    width: 75%;
    float: right;
    margin-bottom: 20px;
}



#demo.fader .toolkit-fader {
    height: 400px;
    margin-right: 8px;
}



#demo.gauge .toolkit-gauge {
    margin-right: 6px;
    margin-left: 6px;
}
#gauge0 .toolkit-base {
    opacity: 1;
    stroke-width: 12px;
    stroke: rgba(0, 42, 66, 0.1);
    fill: rgb(0, 42, 66);
}
#gauge0 .toolkit-hand {
    fill: white;
}
#gauge0 .toolkit-dot {
    fill: rgba(255,255,255,0.33);
}

#gauge1 .toolkit-label {
    font-size: 9px;
}

#gauge3 {
    background: url(../images/gauge.svg) no-repeat 50% 0%;
    background-size: contain;
    fill: white;
}
#gauge3 .toolkit-dot {
    fill: white;
}
#gauge3 .toolkit-title {
    opacity: 0.9;
    fill: white;
}

#gauge4 {
    background: url(../images/vumeter.png) no-repeat 50% 0%;
    background-size: 100% 100%;
    fill: white;
}
#gauge4 .toolkit-base {
    opacity: 1;
}
#gauge4 .toolkit-hand {
    opacity: 1;
}
#gauge4 .toolkit-marker {
    fill: rgba(255,255,255,0.4);
}
#gauge4 .toolkit-title {
    opacity: 0.9;
    fill: white;
}

#gauge5 {
    background: url(../images/vumeter_light.png) no-repeat 50% 0%;
    background-size: 100% 100%;
    fill: rgba(0,0,0,0.8);
}
#gauge5 .toolkit-base {
    opacity: 1;
    fill: rgba(0,0,0,0.8);
}
#gauge5 .toolkit-hand {
    opacity: 1;
}
#gauge5 .toolkit-title {
    opacity: 0.9;
}



#demo.knob .toolkit-knob {
    margin: 10px;
}
#demo.knob .toolkit-knob.knob2 .toolkit-value {
    fill: rgba(0, 47, 66, 1);
}
#demo.knob .toolkit-knob.knob2 .toolkit-warn .toolkit-value {
    fill: #c00;
}
#demo.knob .toolkit-knob.knob2 .toolkit-dot {
    fill: white;
}
#demo.knob .toolkit-knob.knob2 .toolkit-base {
    fill: rgba(0, 47, 66, 0.5);
}

#demo.knob .toolkit-knob.knob2 {
    width: 120px;
    heigh: 120px;
}
#demo.knob .toolkit-knob.knob {
    width: 50px;
    height: 50px;
}
#demo.knob .toolkit-knob.knob1 {
    width: 80px;
    height: 80px;
}


#demo.levelmeter .toolkit-meter-base.toolkit-vertical {
    height: 354px;
}



#demo.meterbase {
    width: 100%;
}
#demo.meterbase .toolkit-meter-base.toolkit-vertical.toolkit-right {
    
}
#demo.meterbase .toolkit-meter-base.toolkit-vertical {
    height: 280px;
    float: left;
}
#demo.meterbase .toolkit-meter-base.toolkit-horizontal {
    width: 500px;
    float: left;
    height: 137px;
}



#demo.levelmeter .toolkit-level-meter {
    height: 80px;
    float: left;
}



.toolkit-pager {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

.toolkit-state {
    float: left;
}
div.toolkit-state.on_air {
    width: 250px;
    height: 70px;
}
div.toolkit-state.on_air {
    background: url(../images/on_air.png) no-repeat 50% 51%;
}



#demo.toggle .toolkit-button {
    margin-right: 10px;
}



#demo.valuebutton .toolkit-valuebutton {
    width: 220px;
}
