body {
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    overflow-y: scroll;
    padding: 20px;
    line-height: 1.5em;
    background: #f2f2f2 url(../images/background.png) repeat;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: normal;
    font-size: 4.1em;
    line-height: 1em;
    color: #003050;
    background: none;
    text-transform: none;
    margin: 0;
    padding: 0px 0 20px 0;
    margin-right: 30px;
}
h1 {
    margin: 0px 0 20px 0;
    font-weight: normal;
    font-size: 4.1em;
    color:#003050;
    text-align: center;
    line-height: 1em;
}
h3 {
    font-size: 2em;
    line-height: 1.3em;
    clear: left;
}
h4 {
    font-size: 1.5em;
    line-height: 2em;
}
p {
    margin-bottom: 1em;
}
hr {
    margin: 25px 0 50px 0;
    height: 0px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #bbb;
    border-bottom-color: #fff;
    border-left: none;
    border-right: none;
    opacity: 0.6;
}
strong {
    font-weight: bold;
    color: #003050;
}
small {
    font-size: 0.8em;
    color: #999;
}
a {
    color: #003050;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin-bottom: 1em;
}
li {
    list-style: disc;
    margin-left: 20px;
}

pre {
    display: block;
    clear: both;
}
.inactive {
    opacity: 0.33;
}
.leftalign {
    text-align: left;
}
.rightalign {
    text-align: right;
}
.center {
    text-align: center;
}

.half {
    width: 49%;
    margin-right: 1%;
}
.half:last-child {
    margin-right: 0;
}

.third {
    width: 32.33%;
    margin-right: 1%;
}
.third:last-child {
    margin-right: 0;
}

table {
    margin: 0px 0 2em 0;
    width: 100%;
    border-collapse: collapse;
    overflow: auto !important;
    clear: both;
    border: 1px solid #fff;
}
table th {
    background: rgba(255,255,255,0.33);
    padding: 0 1em;
    font-weight: 500;
    color: #001940;
    font-size: 0.9em;
}
table td {
    background: rgba(0,0,0,0.033);
    padding: 8px;
    border: 1px solid rgba(255,255,255,0.33);
    vertical-align: top;
}
table td:first-child {
    font-weight: 800;
    width: 120px;
}
table td:nth-child(2) {
/*
    width: 240px;
*/
}
table td.headline {
    background: rgba(255, 255, 255, 0.1);
}
table tr.inherit {
    color: #aaa;
}
table table {
    margin: 0;
    border: none;
    border-spacing: 2px;
/*
    border-collapse: separate;
*/
}
table table th {
    background: #D8D8D8;
}
table table td {
    background: rgba(0, 0, 0, 0.033);
    padding: 0;
    border: 8px solid transparent;
}
table table td:first-child {
    font-weight: normal;
    width: auto;
}
table table td:nth-child(2) {
    width: auto;
}
h3 .icon {
    color: #003050;
    display: inline-block;
    margin-right: 0.25em;
}

.clickable {
    cursor: pointer;
    color: #003050;
}

i.static,
i.delegated,
i.classified,
i.stylized {
    color: rgb(219, 219, 219);
    font-style: normal;
    font-weight: 800;
    background: #003050;
    border-radius: 100%;
    margin: 0 0.1em;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

pre.code {
    overflow: hidden;
    display: none;
    margin-bottom: 12px;
}
pre.code.show {
    display: block;
}

#wrapper {
    text-align: left;
    margin: auto;
    padding: 1em 0;
    max-width: 900px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#top {
    float: left;
    width: calc(100% - 160px);
    box-sizing: border-box;
    padding-right: 40px;
    margin-bottom: 40px;
}

#tree {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}
#tree li {
    width: 100%;
    display:block;
}
#tree .arrow_down {
    padding-left: 0.5em;
}
#tree .arrow_left {
    display: inline-block;
    padding: 0 0.5em;
}
#subnav {
    width: 160px;
    float: right;
}

#item {
    width: 100%;
    min-height: 100%;
}

#teaser {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
}
#teaser img {
    
}

a#back,
a#next {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 32px;
    cursor: pointer;
    background-size: auto 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}
a#back {
    left: 0;
    background-image: url(../images/back.png);
}
a#next {
    right: 0;
    background-image: url(../images/next.png);
}
a#back.hidden,
a#next.hidden {
    display: none;
}

#navigation {
    background: rgba(255, 255, 255, 0.9);
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    z-index: 10;
/*
    max-height: 100%;
*/
    box-sizing: border-box;
}
#navigation.hidden {
    transform: translateY(-100%);
}

#navigation #navbutton {
    font-size: 1.2em;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    position: absolute;
    bottom: -2em;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 0 5px;
    cursor: pointer;
    z-index: 10;
}

#navigation > li {
    font-size: 2em;
    color: #003050;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    text-align: left;
/*
    max-height: 90%;
    overflow-x: auto;
    overflow-y: auto;
*/
}
#navigation > li > p.description {
    font-size: 0.5em;
    color: #666;
    width: 20%;
}
#navigation > li > ul {
    margin-top: 0.5em;
}
#navigation > li > ul > li{
    font-size: 0.5em;
    color: #666;
    cursor: pointer;
}
#navigation > li > ul > li:hover {
    color: #003050;
}


.icon.elements, .icon.options, .icon.modules, .icon.methods, .icon.extends, .icon.implements, .icon.events, .icon.files, .icon.example {
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon.elements { background-image: url(../images/icons/elements.png); }
.icon.options { background-image: url(../images/icons/options.png); }
.icon.modules { background-image: url(../images/icons/modules.png); }
.icon.methods { background-image: url(../images/icons/methods.png); }
.icon.extends { background-image: url(../images/icons/extends.png); }
.icon.implements { background-image: url(../images/icons/implements.png); }
.icon.events { background-image: url(../images/icons/events.png); }
.icon.files { background-image: url(../images/icons/files.png); }
.icon.example { background-image: url(../images/icons/examples.png); }

a.icon {
    padding-left: 2em;
}
h3.icon {
    padding-left: 1.7em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#demo_overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 219, 219, 0.8);
    text-align: left;
    animation: fadein 1s;
}

#demo_overlay #demo,
#demo_overlay #code {
    width: 90%;
    height: 90%;
    max-width: 960px;
    max-height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    box-sizing: border-box;
    z-index: 0;
}

#demo_overlay .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 0 5px;
    padding: 0.33em;
}

#demo_overlay #code,
#demo_overlay #demo {
    transition: all 0.5s;
}

#demo_overlay #code {
    white-space: pre-wrap;
    color: white;
    background: #111;
    padding: 1em;
    z-index: 1;
}
#demo_overlay .hidden {
    opacity: 0;
    visibility: hidden;
}
