<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?> - Documentation</title>

    <link type="text/css" rel="stylesheet" href="toolkit/styles/2013.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="screen.css">
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>

    <script src="toolkit/polyfill/raf.js"></script>
    <script src="toolkit/G.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <script src="toolkit/implements/base.js"></script>
    <script src="toolkit/implements/audiomath.js"></script>
    <script src="toolkit/implements/anchor.js"></script>
    <script src="toolkit/implements/ranges.js"></script>
    <script src="toolkit/implements/globalcursor.js"></script>
    <script src="toolkit/implements/ranged.js"></script>
    <script src="toolkit/implements/warning.js"></script>
    <script src="toolkit/implements/gradient.js"></script>
    <script src="toolkit/implements/notes.js"></script>
    <script src="toolkit/widgets/widget.js"></script>
    <script src="toolkit/modules/dragcapture.js"></script>
    <script src="toolkit/modules/dragvalue.js"></script>
    <script src="toolkit/modules/drag.js"></script>
    <script src="toolkit/modules/scrollvalue.js"></script>
    <script src="toolkit/modules/range.js"></script>
    <script src="toolkit/widgets/tooltips.js"></script>
    <script src="toolkit/modules/grid.js"></script>
    <script src="toolkit/modules/scale.js"></script>
    <script src="toolkit/modules/graph.js"></script>
    <script src="toolkit/modules/circular.js"></script>
    <script src="toolkit/modules/filter.js"></script>
    <script src="toolkit/modules/resize.js"></script>
    <script src="toolkit/modules/responsehandle.js"></script>
    <script src="toolkit/modules/eqband.js"></script>
    <script src="toolkit/widgets/container.js"></script>
    <script src="toolkit/widgets/root.js"></script>
    <script src="toolkit/widgets/icon.js"></script>
    <script src="toolkit/widgets/button.js"></script>
    <script src="toolkit/widgets/buttonarray.js"></script>
    <script src="toolkit/widgets/clock.js"></script>
    <script src="toolkit/widgets/state.js"></script>
    <script src="toolkit/widgets/pager.js"></script>
    <script src="toolkit/widgets/expander.js"></script>
    <script src="toolkit/widgets/chart.js"></script>
    <script src="toolkit/widgets/dynamics.js"></script>
    <script src="toolkit/widgets/gauge.js"></script>
    <script src="toolkit/widgets/frequencyresponse.js"></script>
    <script src="toolkit/widgets/responsehandler.js"></script>
    <script src="toolkit/widgets/equalizer.js"></script>
    <script src="toolkit/widgets/value.js"></script>
    <script src="toolkit/widgets/label.js"></script>
    <script src="toolkit/widgets/knob.js"></script>
    <script src="toolkit/widgets/fader.js"></script>
    <script src="toolkit/widgets/meterbase.js"></script>
    <script src="toolkit/widgets/levelmeter.js"></script>
    <script src="toolkit/widgets/valueknob.js"></script>
    <script src="toolkit/widgets/valuebutton.js"></script>
    <script src="toolkit/widgets/select.js"></script>
    <script src="toolkit/widgets/window.js"></script>
    <script src="toolkit/widgets/toggle.js"></script>
    <script src="toolkit/widgets/multimeter.js"></script>
    <script src="toolkit/widgets/expander.js"></script>
    <script src="toolkit/widgets/notification.js"></script>
    <script src="toolkit/widgets/notifications.js"></script>
    <script>
        (function (w) {
        var fun;
        w.__init__ = function () {
            var nav = document.getElementById("navigation");
            
            var subnav = document.getElementsByClassName("subnav");
            for (var i = 0; i < subnav.length; i++)
                document.body.appendChild(subnav[i]);
            
            var navbutton = document.createElement("button");
            navbutton.setAttribute("id", "navbutton");
            navbutton.onclick = function (e) {
                nav.style.transform = nav.style.transform ? "" : "translate(-50%, 0)";
                if (nav.style.transform) {
                    setTimeout(function () {
                        document.body.addEventListener("click", function fun(e) {
                            nav.style.transform = "";
                            document.body.removeEventListener("click", fun);
                        });
                    }, 100);
                }
            }
            document.body.appendChild(navbutton);
                
            if (subnav.length) {
                
            }
            
            if (location.hash == "#run")
                setTimeout(run_example, 500);
        }
        w.prepare_example = function () {
            window.addEventListener("load", setup_example.bind(this, document.currentScript));
        }

        function setup_javascript(current, code) {
            var source = code.textContent;
            if (source.match(/^\s*function/)) {
                fun = new Function("", "return "+source)();
            } else return;

            var b = document.createElement("button");
            b.setAttribute("class", "runbutton");
            b.addEventListener("click", run_example);
            b.appendChild(document.createTextNode("Run!"));
            current.parentNode.insertBefore(b, current.nextSibling);

            var h = document.createElement("h2");
            h.appendChild(document.createTextNode("JavaScript"));
            code.parentNode.insertBefore(h, code);
        }
        function setup_stylesheet(current, code) {
            var style = document.createElement("STYLE");
            style.setAttribute("type", "text/css");
            if (style.styleSheet) style.styleSheet.cssText = code.textContent;
            else style.appendChild(document.createTextNode(code.textContent));
            document.head.appendChild(style);
            var h = document.createElement("h2");
            h.appendChild(document.createTextNode("Stylesheet"));
            code.parentNode.insertBefore(h, code);
        }
        function setup_example(current) {
            var code = current.parentNode.getElementsByTagName("pre");
            if (!code.length) return;

            for (var i = 0; i < code.length; i++) {
                if (TK.has_class(code[i], "css")) {
                    setup_stylesheet(current, code[i]);
                } else {
                    setup_javascript(current, code[i]);
                }
            }
        }
        function run_example () {
            var hide_root = function (e) {
                window.example.root.destroy();
                window.example.blinder.parentNode.removeChild(window.example.blinder);
                window.example = null;
            }
            
            if (window.example && window.example.root)
                window.example.root.destroy();
            window.example = {};
            var blinder = document.createElement("DIV");
            blinder.setAttribute("class", "blinder");
            document.body.appendChild(blinder);
            window.example['blinder'] = blinder;
            window.example['root'] = new TK.Root({
                container: blinder
            });
            var b = document.createElement("button");
            b.setAttribute("class", "closebutton");
            b.addEventListener("click", hide_root);
            b.appendChild(document.createTextNode("Close"));
            window.example.root.element.appendChild(b);
            
            fun(window.example.root);

            return false;
        }
        })(this);
    </script>
</head>
<body onload="__init__()">

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav id="navigation">
    <?js= this.nav(obj) ?>
</nav>

<div id="main">
    <?js= content ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the Minami theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
