<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?> - Documentation</title>

    <link type="text/css" rel="stylesheet" href="toolkit/styles/2013.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="screen.css">
    <link type="text/css" rel="stylesheet" href="fonts/DeusoDocs.css">
    <link type="text/css" rel="stylesheet" href="fonts/Ubuntu.css">
    <link type="text/css" rel="stylesheet" href="toolkit/styles/fonts/Toolkit.css">
    
    <script src="script.js"></script>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>

    <script src="toolkit/polyfill/raf.js"></script>
    <script src="toolkit/G.js"></script>
    <script src="toolkit/toolkit.js"></script>
    <script src="toolkit/implements/base.js"></script>
    <script src="toolkit/implements/audiomath.js"></script>
    <script src="toolkit/implements/anchor.js"></script>
    <script src="toolkit/implements/ranges.js"></script>
    <script src="toolkit/implements/globalcursor.js"></script>
    <script src="toolkit/implements/ranged.js"></script>
    <script src="toolkit/implements/warning.js"></script>
    <script src="toolkit/implements/gradient.js"></script>
    <script src="toolkit/implements/notes.js"></script>
    <script src="toolkit/widgets/widget.js"></script>
    <script src="toolkit/modules/dragcapture.js"></script>
    <script src="toolkit/modules/dragvalue.js"></script>
    <script src="toolkit/modules/drag.js"></script>
    <script src="toolkit/modules/scrollvalue.js"></script>
    <script src="toolkit/modules/range.js"></script>
    <script src="toolkit/widgets/tooltips.js"></script>
    <script src="toolkit/modules/grid.js"></script>
    <script src="toolkit/modules/scale.js"></script>
    <script src="toolkit/modules/graph.js"></script>
    <script src="toolkit/modules/circular.js"></script>
    <script src="toolkit/modules/filter.js"></script>
    <script src="toolkit/modules/resize.js"></script>
    <script src="toolkit/modules/responsehandle.js"></script>
    <script src="toolkit/modules/eqband.js"></script>
    <script src="toolkit/widgets/container.js"></script>
    <script src="toolkit/widgets/root.js"></script>
    <script src="toolkit/widgets/icon.js"></script>
    <script src="toolkit/widgets/label.js"></script>
    <script src="toolkit/widgets/button.js"></script>
    <script src="toolkit/widgets/confirmbutton.js"></script>
    <script src="toolkit/widgets/buttonarray.js"></script>
    <script src="toolkit/widgets/clock.js"></script>
    <script src="toolkit/widgets/state.js"></script>
    <script src="toolkit/widgets/pager.js"></script>
    <script src="toolkit/widgets/expander.js"></script>
    <script src="toolkit/widgets/chart.js"></script>
    <script src="toolkit/widgets/dynamics.js"></script>
    <script src="toolkit/widgets/gauge.js"></script>
    <script src="toolkit/widgets/frequencyresponse.js"></script>
    <script src="toolkit/widgets/responsehandler.js"></script>
    <script src="toolkit/widgets/equalizer.js"></script>
    <script src="toolkit/widgets/value.js"></script>
    <script src="toolkit/widgets/knob.js"></script>
    <script src="toolkit/widgets/fader.js"></script>
    <script src="toolkit/widgets/meterbase.js"></script>
    <script src="toolkit/widgets/levelmeter.js"></script>
    <script src="toolkit/widgets/valueknob.js"></script>
    <script src="toolkit/widgets/valuebutton.js"></script>
    <script src="toolkit/widgets/select.js"></script>
    <script src="toolkit/widgets/window.js"></script>
    <script src="toolkit/widgets/toggle.js"></script>
    <script src="toolkit/widgets/multimeter.js"></script>
    <script src="toolkit/widgets/expander.js"></script>
    <script src="toolkit/widgets/notification.js"></script>
    <script src="toolkit/widgets/notifications.js"></script>
    <script src="toolkit/widgets/slider.js"></script>
</head>
<body>

<header id="header">
    <div id="navfilter">
        <input id="nf_input" type=text placeholder="Filter">
        <button id="nf_clear"></button>
    </div>
</header>

<div id="h1">
    <?js= this.longname ?>
</div>
    
<nav id="navigation">
    <?js= this.nav(obj) ?>
</nav>

<div id="main">
    <?js= content ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
