.toolkit-buttonarray {
    position: relative;
    width: 100%;
    height: 40px;
}

.toolkit-buttonarray.toolkit-vertical {
    box-sizing: border-box;
}

.toolkit-buttonarray.toolkit-horizontal {
    box-sizing: border-box;
}

.toolkit-buttonarray .toolkit-previous {
     position: absolute;
     margin: 0;
}
.toolkit-buttonarray .toolkit-next {
    position: absolute;
     margin: 0;
}
.toolkit-buttonarray.toolkit-vertical .toolkit-previous {
    top: 0;
    width: 100%;
}
.toolkit-buttonarray.toolkit-vertical .toolkit-next {
    bottom: 0;
    width: 100%;
}
.toolkit-buttonarray.toolkit-horizontal .toolkit-previous {
    left: 0;
    width: 40px;
    padding-left: 4px;
    padding-right: 4px;
    
}
.toolkit-buttonarray.toolkit-horizontal .toolkit-next {
    right: 0px;
    width: 40px;
    padding-left: 4px;
    padding-right: 4px;
}

.toolkit-buttonarray .toolkit-clip {
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #ccc #fff #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.toolkit-buttonarray.toolkit-over.toolkit-horizontal .toolkit-clip {
    left: 50px;
    right: 50px;
}
.toolkit-buttonarray.toolkit-over.toolkit-vertical .toolkit-clip {
    
    top: 40px;
    bottom: 40px;
}

.toolkit-buttonarray .toolkit-clip .toolkit-container {
    transition: margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.toolkit-buttonarray.toolkit-horizontal .toolkit-clip .toolkit-container {
    width: 20000px;
}
.toolkit-buttonarray.toolkit-vertical .toolkit-clip .toolkit-container {
    height: 10000px;
}

.toolkit-buttonarray .toolkit-clip .toolkit-container .toolkit-button {
    margin: 0;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius:    0px;
    border-radius:         0px;
}

.toolkit-buttonarray.toolkit-vertical .toolkit-clip .toolkit-container .toolkit-button {
    display: block;
    width: 100%;
}
