/*
    AVAILABLE DEFAULT BACKGROUNDS
    background: url(../images/meterbase/grid_soft.png);
    background: url(../images/meterbase/grid_strong.png);
    background: url(../images/meterbase/slim_soft_vertical.png);
    background: url(../images/meterbase/slim_strong_vertical.png);
    background: url(../images/meterbase/slim_soft_horizontal.png);
    background: url(../images/meterbase/slim_strong_horizontal.png);
    background: url(../images/meterbase/led_vertical.png);
    background: url(../images/meterbase/led_horizontal.png);
    background: url(../images/meterbase/bevel_soft_vertical.png);
    background: url(../images/meterbase/bevel_strong_vertical.png);
    background: url(../images/meterbase/bevel_soft_horizontal.png);
    background: url(../images/meterbase/bevel_strong_horizontal.png);
*/

body {
    background: #111;
}

/* UNIVERSAL */

div.toolkit-meter-base {
    float: left;
    padding: 6px;
    position:relative;
    border: 1px solid #555;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    background: #222; /* Old browsers */
    font-size: 11px;
    color: white;
}
div.toolkit-meter-base div.toolkit-label {
    height: 16px;
    line-height: 16px;
    border-top:    1px solid #161616;
    border-bottom: 1px solid #444;
    border-left:   1px solid #2d2d2d;
    border-right:  1px solid #2d2d2d;
    background: rgb(33,33,33); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE5MTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDE0MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(33,33,33) 0%, rgb(25,25,25) 50%, rgb(0,0,0) 51%, rgb(20,20,20) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,33,33)), color-stop(50%,rgb(25,25,25)), color-stop(51%,rgb(0,0,0)), color-stop(100%,rgb(20,20,20))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#141414',GradientType=0 ); /* IE6-8 */
}
div.toolkit-meter-base div.toolkit-title {
    height: 16px;
    line-height: 16px;
    border-top:    1px solid #161616;
    border-bottom: 1px solid #444;
    border-left:   1px solid #2d2d2d;
    border-right:  1px solid #2d2d2d;
    background: rgb(33,33,33); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE5MTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDE0MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgb(33,33,33) 0%, rgb(25,25,25) 50%, rgb(0,0,0) 51%, rgb(20,20,20) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,33,33)), color-stop(50%,rgb(25,25,25)), color-stop(51%,rgb(0,0,0)), color-stop(100%,rgb(20,20,20))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(33,33,33) 0%,rgb(25,25,25) 50%,rgb(0,0,0) 51%,rgb(20,20,20) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#141414',GradientType=0 ); /* IE6-8 */
}
div.toolkit-meter-base div.meter-scale {
    position: relative;
}
div.toolkit-meter-base div.toolkit-bar {
    position: relative;
    overflow: hidden;
    border-top:    3px solid #161616;
    border-bottom: 3px solid #444;
    border-left:   3px solid #2d2d2d;
    border-right:  3px solid #2d2d2d;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-over {
    
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-mask {
    background: black;
    opacity: 0.8;
}

div.toolkit-meter-base div.meter-scale div.toolkit-dot {
    
}

/* VERTICAL */

div.toolkit-meter-base.toolkit-vertical {
    height: 400px;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-label {
    text-align: center;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-title {
    text-align: center;
    clear: both;
}
div.toolkit-meter-base.toolkit-vertical div.meter-scale {
    margin: 5px 2px;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar {
    width: 30px;
    margin: 2px 0 2px 0;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-over {
    background: url(../images/meterbase/slim_strong_vertical.png);
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mask {
    
}
div.toolkit-meter-base.toolkit-vertical.reverse div.toolkit-bar div.toolkit-mask {
    
}


/* VERTICAL LEFT */

div.toolkit-meter-base.toolkit-vertical.toolkit-left {
    margin: 10px 10px 10px 2px;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-label {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-title {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.meter-scale {
    float: right;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-bar {
    float: left;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-bar div.toolkit-over {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-left div.toolkit-bar div.toolkit-mask {
    
}


/* VERTICAL RIGHT */

div.toolkit-meter-base.toolkit-vertical.toolkit-right {
    margin: 10px 2px 10px 10px;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-label {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-title {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.meter-scale {
    float: left;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-bar {
    float: right;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-bar div.toolkit-over {
    
}
div.toolkit-meter-base.toolkit-vertical.toolkit-right div.toolkit-bar div.toolkit-mask {
    
}


/* HORIZONTAL */

div.toolkit-meter-base.toolkit-horizontal {
    width: 400px;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-title {
    text-align: left;
    float: left;
    width: 49%;
    margin-bottom: 2px;
    padding: 0 3px;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-label {
    text-align: right;
    float: right;
    width: 45%;
    margin-bottom: 2px;
    padding: 0 3px;
}
div.toolkit-meter-base.toolkit-horizontal div.meter-scale {
    margin: 2px 3px;
    clear: both;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar {
    height: 30px;
    float: left;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-over {
    background: url(../images/meterbase/slim_strong_horizontal.png);
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mask {
    
}
div.toolkit-meter-base.toolkit-horizontal.reverse div.toolkit-bar div.toolkit-mask {
    
}


/* HORIZONTAL TOP */

div.toolkit-meter-base.toolkit-horizontal.toolkit-top {
    margin: 2px 10px 10px 10px;
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-title {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-label {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.meter-scale {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-bar {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-bar div.toolkit-over {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-top div.toolkit-bar div.toolkit-mask {
    
}


/* HORIZONTAL BOTTOM */

div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom {
    margin: 10px 10px 2px 10px;
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-title {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-label {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.meter-scale {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-bar {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-bar div.toolkit-base {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-bar div.toolkit-mark {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-bar div.toolkit-over {
    
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-bottom div.toolkit-bar div.toolkit-mask {
    
}


/* SCALE */
div.toolkit-meter-base div.scale {
    color: #666;
}
div.toolkit-meter-base div.scale span.toolkit-label {
    
}
div.toolkit-meter-base div.scale span.toolkit-label.toolkit-base {
    color: #aaa;
}
div.toolkit-meter-base div.scale span.toolkit-label.toolkit-min {
    color: #aaa;
}
div.toolkit-meter-base div.scale span.toolkit-label.toolkit-max {
    color: #aaa;
}
div.toolkit-meter-base div.scale div.toolkit-dot {
    background: #666;
}
div.toolkit-meter-base div.scale div.toolkit-dot.toolkit-base {
    background: #aaa;
}
div.toolkit-meter-base div.scale div.toolkit-dot.toolkit-min {
    background: #aaa;
}
div.toolkit-meter-base div.scale div.toolkit-dot.toolkit-max {
    background: #aaa;
}
div.toolkit-meter-base div.scale div.toolkit-dot.toolkit-marker {
    background: #aaa;
}