/*
    AVAILABLE DEFAULT BACKGROUNDS
    background: url(../images/meterbase/grid_soft.png);
    background: url(../images/meterbase/grid_strong.png);
    background: url(../images/meterbase/slim_soft_vertical.png);
    background: url(../images/meterbase/slim_strong_vertical.png);
    background: url(../images/meterbase/slim_soft_horizontal.png);
    background: url(../images/meterbase/slim_strong_horizontal.png);
    background: url(../images/meterbase/led_vertical.png);
    background: url(../images/meterbase/led_horizontal.png);
    background: url(../images/meterbase/bevel_soft_vertical.png);
    background: url(../images/meterbase/bevel_strong_vertical.png);
    background: url(../images/meterbase/bevel_soft_horizontal.png);
    background: url(../images/meterbase/bevel_strong_horizontal.png);
    
    
    
    REMINDER
    scale-height: 20px
    scale-width: 32px
    text-height: 1.2em
    margin: 5px
    bar-margin-x: 3px
    bar-margin-y: 2px
    
*/

/* BASE */

div.toolkit-meter-base {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 0;
}
div.toolkit-meter-base.toolkit-vertical {
    width: 80px;
    height: 320px;
}
div.toolkit-meter-base.toolkit-horizontal {
    width: 320px;
    height: 90px;
}
div.toolkit-meter-base.toolkit-left {
    margin: 10px 10px 10px 2px;
}
div.toolkit-meter-base.toolkit-right {
    margin: 10px 2px 10px 10px;
}
div.toolkit-meter-base.toolkit-top {
    margin: 2px 10px 10px 10px;
}
div.toolkit-meter-base.toolkit-bottom {
    margin: 10px 10px 2px 10px;
}
/* LABEL */

div.toolkit-meter-base div.toolkit-label {
    position: absolute;
    display: none;
    line-height: 1.2em;
    height: 1.2em;
    white-space: nowrap;
}
div.toolkit-meter-base.toolkit-has-label div.toolkit-label {
    display: block;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-label {
    text-align: center;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-label {
    text-align: right;
}
div.toolkit-meter-base.toolkit-top div.toolkit-label {
    left: 49%;
    right: 5px;
    bottom: 5px;
}
div.toolkit-meter-base.toolkit-right div.toolkit-label {
    left: 32px;
    right: 5px;
    top: 5px;
}
div.toolkit-meter-base.toolkit-bottom div.toolkit-label {
    left: 49%;
    right: 5px;
    top: 5px;
}
div.toolkit-meter-base.toolkit-left div.toolkit-label {
    left: 5px;
    right: 32px;
    top: 5px;
}

/* TITLE */

div.toolkit-meter-base div.toolkit-title {
    position: absolute;
    display: none;
    line-height: 1.2em;
    height: 1.2em;
    white-space: nowrap;
}
div.toolkit-meter-base.toolkit-has-title div.toolkit-title {
    display: block;
    
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-title {
    text-align: center;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-title {
    text-align: left;
}
div.toolkit-meter-base.toolkit-top div.toolkit-title {
    left: 5px;
    right: 49%;
    bottom: 5px;
}
div.toolkit-meter-base.toolkit-right div.toolkit-title {
    left: 32px;
    right: 5px;
    bottom: 5px;
}
div.toolkit-meter-base.toolkit-bottom div.toolkit-title {
    left: 5px;
    right: 49%;
    top: 5px;
}
div.toolkit-meter-base.toolkit-left div.toolkit-title {
    left: 5px;
    right: 32px;
    bottom: 5px;
}

/* SCALE */

div.toolkit-meter-base div.toolkit-scale {
    position: absolute;
    display: none;
    color: #aaa;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-scale {
    width: 32px;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-scale {
    height: 20px;
}
div.toolkit-meter-base.toolkit-has-scale div.toolkit-scale {
    display: block;
}

div.toolkit-meter-base.toolkit-top div.toolkit-scale {
    left: 5px;
    right: 5px;
    bottom: 5px;
}
div.toolkit-meter-base.toolkit-right div.toolkit-scale {
    left: 0px;
    top: 5px;
    bottom: 5px;
}
div.toolkit-meter-base.toolkit-bottom div.toolkit-scale {
    left: 5px;
    right: 5px;
    top: 5px;
}
div.toolkit-meter-base.toolkit-left div.toolkit-scale {
    right: 0px;
    top: 5px;
    bottom: 5px;
}

div.toolkit-meter-base.toolkit-top.toolkit-has-label div.toolkit-scale,
div.toolkit-meter-base.toolkit-top.toolkit-has-title div.toolkit-scale {
    bottom: calc(1.2em + 5px + 5px);
}
div.toolkit-meter-base.toolkit-bottom.toolkit-has-label div.toolkit-scale,
div.toolkit-meter-base.toolkit-bottom.toolkit-has-title div.toolkit-scale {
    top: calc(1.2em + 5px + 5px);
}

div.toolkit-meter-base.toolkit-vertical.toolkit-has-label div.toolkit-scale {
    top: calc(1.2em + 5px + 5px);
}
div.toolkit-meter-base.toolkit-vertical.toolkit-has-title div.toolkit-scale {
    bottom: calc(1.2em + 5px + 5px);
}

div.toolkit-meter-base div.toolkit-scale span.toolkit-label.toolkit-base {
    color: #666;
}

/* BAR */

div.toolkit-meter-base div.toolkit-bar {
    position: absolute;
    overflow: hidden;
    left: 3px;
    right: 3px;
    top: 2px;
    bottom: 2px;
}

div.toolkit-meter-base.toolkit-top.toolkit-has-label div.toolkit-bar,
div.toolkit-meter-base.toolkit-top.toolkit-has-title div.toolkit-bar {
    bottom: calc(1.2em + 5px + 5px);
}
div.toolkit-meter-base.toolkit-top.toolkit-has-scale div.toolkit-bar {
    bottom: calc(20px + 5px);
}
div.toolkit-meter-base.toolkit-top.toolkit-has-label.toolkit-has-scale div.toolkit-bar,
div.toolkit-meter-base.toolkit-top.toolkit-has-title.toolkit-has-scale div.toolkit-bar {
    bottom: calc(1.2em + 5px + 5px + 20px);
}

div.toolkit-meter-base.toolkit-bottom.toolkit-has-label div.toolkit-bar,
div.toolkit-meter-base.toolkit-bottom.toolkit-has-title div.toolkit-bar {
    top: calc(1.2em + 5px + 5px);
}
div.toolkit-meter-base.toolkit-bottom.toolkit-has-scale div.toolkit-bar {
    top: calc(20px + 5px);
}
div.toolkit-meter-base.toolkit-bottom.toolkit-has-label.toolkit-has-scale div.toolkit-bar,
div.toolkit-meter-base.toolkit-bottom.toolkit-has-title.toolkit-has-scale div.toolkit-bar {
    top: calc(1.2em + 5px + 5px + 20px);
}

div.toolkit-meter-base.toolkit-vertical.toolkit-has-label div.toolkit-bar {
    top: calc(1.2em + 5px + 2px);
}
div.toolkit-meter-base.toolkit-vertical.toolkit-has-title div.toolkit-bar {
    bottom: calc(1.2em + 5px + 2px);
}
div.toolkit-meter-base.toolkit-left.toolkit-has-scale div.toolkit-bar {
    right: 32px;
}
div.toolkit-meter-base.toolkit-right.toolkit-has-scale div.toolkit-bar {
    left: 32px;
}

/* OVER */

div.toolkit-meter-base div.toolkit-bar div.toolkit-over {
    opacity:  0.66;
    position: absolute;
    width:    100%;
    height:   100%;
    z-index:  100;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-over {
    background: url(../images/meterbase/slim_soft_vertical.png);
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-over {
    background: url(../images/meterbase/slim_soft_horizontal.png);
}

/* MASK */

div.toolkit-meter-base div.toolkit-bar div.toolkit-mask {
    background: black;
    opacity:    0.66;
    position:   absolute;
    z-index:    1000;
    margin: 0;
}

div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mask {
    width: 100%;
    height: 0px;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mask1 {
    top: 0px;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-reverse div.toolkit-bar div.toolkit-mask1 {
    bottom: 0px;
    top: auto;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mask2 {
    bottom: 0px;
}
div.toolkit-meter-base.toolkit-vertical.toolkit-reverse div.toolkit-bar div.toolkit-mask2 {
    top: 0px;
    bottom: auto;
}

div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mask {
    height: 100%;
    width: 0px;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mask1 {
    right: 0px;
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-reverse div.toolkit-bar div.toolkit-mask1 {
    left: 0px;
    right: auto;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mask2 {
    left: 0px;
}
div.toolkit-meter-base.toolkit-horizontal.toolkit-reverse div.toolkit-bar div.toolkit-mask2 {
    right: 0px;
    left: auto;
}

/* MARK */

div.toolkit-meter-base div.toolkit-bar div.toolkit-mark {
    position: absolute;
    width:    100%;
    height:   100%;
    z-index:  10;
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark div.toolkit-dot {
    display: none;
}
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark div.toolkit-dot.toolkit-marker,
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark div.toolkit-dot.toolkit-min,
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark div.toolkit-dot.toolkit-max,
div.toolkit-meter-base div.toolkit-bar div.toolkit-mark div.toolkit-dot.toolkit-base {
    background: rgba(0,0,0,0.5);
    display: block;
}
div.toolkit-meter-base.toolkit-vertical div.toolkit-bar div.toolkit-mark div.toolkit-dot {
    width: 100%;
    height: 1px;
    margin-top: 0px;
}
div.toolkit-meter-base.toolkit-horizontal div.toolkit-bar div.toolkit-mark div.toolkit-dot {
    width: 1px;
    height: 100%;
    margin-left: 0px;
}
