/* GENERAL */

.toolkit-pager {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}



.toolkit-pager > .toolkit-clip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.toolkit-pager .toolkit-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.33s ease-in-out;
    opacity: 0;
}
.toolkit-pager .toolkit-page.toolkit-hidden {
/*
    display: none;
*/
    opacity: 0;
}
.toolkit-pager .toolkit-page.toolkit-hiding {
    opacity: 0;
}
.toolkit-pager .toolkit-page.toolkit-showing {
    opacity: 1;
}
.toolkit-pager .toolkit-page.toolkit-show {
    opacity: 1;
}

/* BUTTONARRAY */

.toolkit-pager .toolkit-buttonarray{
    
}
.toolkit-pager.toolkit-top .toolkit-buttonarray {
    
}
.toolkit-pager.toolkit-right .toolkit-buttonarray {
    float: right;
}
.toolkit-pager.toolkit-bottom .toolkit-buttonarray {
    
}
.toolkit-pager.toolkit-left .toolkit-buttonarray {
    
}
