/*
available overlays:
circle.png
square.png
vertical.png
horizontal.png
*/

div.toolkit-state {
    width: 30px;
    height: 5px;
    margin: 10px;
    background-color: white;
    background-image:  url(../images/state/circle.png);
    background-position: 0 0;
    background-size: 100% 100%;
}

div.toolkit-state div.toolkit-mask {
    width: 100%;
    height: 100%;
    background: black;
}
