.toolkit-valueknob {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.toolkit-valueknob .toolkit-knob {
    width: 100%;
    height: 100%;
}

.toolkit-valueknob .toolkit-value {
    margin-top: -5px;
}

.toolkit-valueknob .toolkit-input {
    border: 1px solid transparent;
}
