/*
 * This file is part of toolkit.
 *
 * toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-buttonarray {
    height: 36px;
}

.toolkit-buttonarray.toolkit-vertical {
    height: 100%;
    text-align: left;
}

.toolkit-buttonarray.toolkit-horizontal {
    width: 100%;
}

.toolkit-buttonarray > .toolkit-previous {
     margin: 0;
}
.toolkit-buttonarray > .toolkit-next {
     margin: 0;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-previous {
    
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-next {
    
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-previous {
    width: 40px;
    padding-left: 4px;
    padding-right: 4px;
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-next {
    width: 40px;
    padding-left: 4px;
    padding-right: 4px;
}

.toolkit-buttonarray > .toolkit-clip {
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.5s ease-in-out;
}
.toolkit-buttonarray.toolkit-over.toolkit-horizontal > .toolkit-clip {
    margin-left: 43px;
    margin-right: 43px;
    width: calc(100% - 86px);
}
.toolkit-buttonarray.toolkit-over.toolkit-vertical > .toolkit-clip {
    margin-top: 32px;
    margin-bottom: 32px;
    height: calc(100% - 64px);
}

.toolkit-buttonarray > .toolkit-clip > .toolkit-container {
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.toolkit-buttonarray.toolkit-horizontal > .toolkit-clip > .toolkit-container {
    
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-clip > .toolkit-container {
    
}

.toolkit-buttonarray > .toolkit-clip > .toolkit-container > .toolkit-button {
    margin: 0;
}
.toolkit-buttonarray > .toolkit-clip > .toolkit-container > .toolkit-button.toolkit-active {
    
}
.toolkit-buttonarray > .toolkit-clip > .toolkit-container > .toolkit-button > .toolkit-label {
    white-space: nowrap;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-clip > .toolkit-container > .toolkit-button {
    height: 100%;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-clip > .toolkit-container > .toolkit-button {
    display: block;
    width: 100%;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-clip > .toolkit-container > .toolkit-button:hover,
.toolkit-buttonarray.toolkit-vertical > .toolkit-clip > .toolkit-container > .toolkit-button:active
{
    
}
