/*
 * This file is part of toolkit.
 *
 * toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-chart > svg {
    
}

.toolkit-chart {
}

.toolkit-chart > svg > .toolkit-background {
    
}
.toolkit-chart > svg > .toolkit-background.toolkit-hover {
    
}
.toolkit-chart > svg > .toolkit-key {
    margin: 0px;
    padding: 4px 8px;
    opacity: 0.8;
}
.toolkit-chart > svg > .toolkit-key.toolkit-hover {
    opacity: 1;
}
.toolkit-chart > svg > .toolkit-key > text > .toolkit-label {
    line-height: 1.2em; /* sets the distance between key entries */
    margin: 5px; /* sets the distance between labels and example rects */
}
.toolkit-chart > svg > .toolkit-key > .toolkit-rect {
    
}

.toolkit-chart > svg > .toolkit-title {
    margin: 8px 26px;
    font-weight: bold;
    font-size: 2em;
}
