/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-fader {
    margin: 4px;
    padding: 0px;
    background-repeat: no-repeat;
}
.toolkit-fader::before {
    content: "";
    display: block;
    position: absolute;
}
.toolkit-fader.toolkit-vertical {
    width: 36px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-scale {
    width: auto;
}
.toolkit-fader.toolkit-horizontal {
    height: 36px;
}
.toolkit-fader.toolkit-horizontal.toolkit-has-scale {
    height: auto;
}

.toolkit-fader.toolkit-vertical.toolkit-has-value {
    padding-top: 25px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-label {
    padding-bottom: 25px;
}
.toolkit-fader.toolkit-horizontal.toolkit-has-value,
.toolkit-fader.toolkit-horizontal.toolkit-has-label {
    padding-right: 75px;
}

/* BACKGROUNDS */

.toolkit-fader.toolkit-vertical::before {
    top: 0;
    bottom: 0;
}
.toolkit-fader.toolkit-horizontal::before {
    left: 0;
    right: 0;
}

.toolkit-fader.toolkit-left::before {
    left: 0;
    right: calc(100% - 36px);
}
.toolkit-fader.toolkit-right::before {
    right: 0;
    left: calc(100% - 36px);
}
.toolkit-fader.toolkit-top::before {
    top: 0;
    bottom: calc(100% - 36px);
}
.toolkit-fader.toolkit-bottom::before {
    bottom: 0;
    top: calc(100% - 36px);
}


.toolkit-fader.toolkit-vertical.toolkit-has-label::before {
    bottom: 25px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-value::before {
    top: 25px;
}

.toolkit-fader.toolkit-horizontal.toolkit-has-label::before,
.toolkit-fader.toolkit-horizontal.toolkit-has-value::before {
    right: 75px;
}

/* HANDLE */

.toolkit-fader > .toolkit-handle {
    cursor: pointer;
    cursor: hand;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-vertical > .toolkit-handle {
    
}
.toolkit-fader.toolkit-vertical > .toolkit-handle::after,
.toolkit-fader.toolkit-vertical > .toolkit-handle::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    left: 6px;
    right: 6px;
    height: 8px;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-vertical > .toolkit-handle::before,
.toolkit-fader.toolkit-vertical > .toolkit-handle::after {
    border-width: 2px 0;
}
.toolkit-fader.toolkit-vertical > .toolkit-handle::before {
    top: 6px;
}
.toolkit-fader.toolkit-vertical > .toolkit-handle::after {
    bottom: 6px;
}
.toolkit-fader.toolkit-vertical.toolkit-warn > .toolkit-handle {
    
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle {
    
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle::after,
.toolkit-fader.toolkit-horizontal > .toolkit-handle::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    top: 6px;
    bottom: 6px;
    width: 8px;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle::before,
.toolkit-fader.toolkit-horizontal > .toolkit-handle::after {
    border-width: 0 2px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle::before {
    left: 6px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle::after {
    right: 6px;
}
.toolkit-fader.toolkit-horizontal.toolkit-warn > .toolkit-handle {
    
}
.toolkit-fader.toolkit-left > .toolkit-handle {
    left: 0;
}
.toolkit-fader.toolkit-right > .toolkit-handle {
    right: 0;
}
.toolkit-fader.toolkit-top > .toolkit-handle {
    top: 0;
}
.toolkit-fader.toolkit-bottom > .toolkit-handle {
    bottom: 0;
}

.toolkit-fader.toolkit-vertical.toolkit-has-label > .toolkit-handle {
    bottom: 25px;
}

/* SCALE */

.toolkit-fader > .toolkit-scale {
    display: none;
}
.toolkit-fader.toolkit-has-scale > .toolkit-scale {
    display: block;
}

.toolkit-fader.toolkit-vertical > .toolkit-scale {
    height: calc(100% - 36px);
    margin-top: 18px;
    margin-bottom: 18px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-scale {
    width: calc(100% - 36px);
    margin-left: 18px;
}
.toolkit-fader.toolkit-left > .toolkit-scale {
    margin-left: 38px;
}
.toolkit-fader.toolkit-right > .toolkit-scale {
    margin-right: 38px;
}
.toolkit-fader.toolkit-top > .toolkit-scale {
    margin-top: 38px;
}
.toolkit-fader.toolkit-bottom > .toolkit-scale {
    margin-bottom: 38px;
}



/* LABEL */

.toolkit-fader > .toolkit-label {
    width: 70px;
    line-height: 18px;
    height: 18px;
    position: absolute;
}
.toolkit-fader.toolkit-vertical > .toolkit-label {
    bottom: 0;
}
.toolkit-fader.toolkit-left > .toolkit-label {
    left: -17px;
}
.toolkit-fader.toolkit-right > .toolkit-label {
    right: -17px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-label {
    right: 0;
}
.toolkit-fader.toolkit-top > .toolkit-label {
    top: 0px;
}
.toolkit-fader.toolkit-bottom > .toolkit-label {
    bottom: 18px;
}


/* VALUE */

.toolkit-fader > .toolkit-value,
.toolkit-fader > .toolkit-value > .toolkit-input {
    width: 70px;
    line-height: 18px;
    height: 18px;
    font-size: 14px;
}
.toolkit-fader > .toolkit-value > .toolkit-input {
    background: transparent;
}
.toolkit-fader > .toolkit-value.toolkit-active {
    
}
.toolkit-fader > .toolkit-value.toolkit-active > .toolkit-input {
    
}

.toolkit-fader.toolkit-horizontal > .toolkit-value > .toolkit-input,
.toolkit-fader.toolkit-horizontal > .toolkit-label {
    text-align: left;
}

.toolkit-fader > .toolkit-value {
    position: absolute;
}
.toolkit-fader.toolkit-vertical > .toolkit-value {
    top: 0;
}
.toolkit-fader.toolkit-left > .toolkit-value {
    left: -17px;
}
.toolkit-fader.toolkit-right > .toolkit-value {
    right: -17px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-value {
    right: 0;
}
.toolkit-fader.toolkit-top > .toolkit-value {
    top: 18px;
}
.toolkit-fader.toolkit-bottom > .toolkit-value {
    bottom: 0px;
}


/* MARKER */

.toolkit-fader > .toolkit-marker {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    width: 12px;
    height: 12px;
    border-width: 6px;
    border-color: transparent;
    border-style: solid;
}

.toolkit-fader.toolkit-vertical > .toolkit-marker {
    bottom: 18px;
    margin-bottom: -6px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-label > .toolkit-marker {
    bottom: 43px;
}
.toolkit-fader.toolkit-left > .toolkit-marker {
    left: 30px;
}
.toolkit-fader.toolkit-right > .toolkit-marker {
    right: 30px;
}

.toolkit-fader.toolkit-horizontal > .toolkit-marker {
    left: 18px;
    margin-left: -6px;
}
.toolkit-fader.toolkit-top > .toolkit-marker {
    top: 30px;
}
.toolkit-fader.toolkit-bottom > .toolkit-marker {
    bottom: 30px;
}



/* BAR */

.toolkit-fader > .toolkit-bar {
    position: absolute;
    background: #002f42;
    z-index: -1;
}

.toolkit-fader.toolkit-vertical > .toolkit-bar {
    width: 4px;
    bottom: 18px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-label > .toolkit-bar {
    bottom: 43px;
}
.toolkit-fader.toolkit-left > .toolkit-bar {
    left: 38px;
}
.toolkit-fader.toolkit-right > .toolkit-bar {
    right: 38px;
}

.toolkit-fader.toolkit-horizontal > .toolkit-bar {
    height: 4px;
    left: 18px;
}
.toolkit-fader.toolkit-top > .toolkit-bar {
    top: 38px;
}
.toolkit-fader.toolkit-bottom > .toolkit-bar {
    bottom: 38px;
}
