/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-fader {
    margin: 4px;
    padding: 0px;
    background-repeat: no-repeat;
}

/* TRACK */

.toolkit-fader.toolkit-vertical > .toolkit-track {
    width: 36px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-track {
    height: 36px;
}

/* HANDLE */

.toolkit-fader > .toolkit-track > .toolkit-handle {
    cursor: pointer;
    cursor: hand;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::after,
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    left: 6px;
    right: 6px;
    height: 8px;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::before,
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::after {
    border-width: 2px 0;
}
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::before {
    top: 6px;
}
.toolkit-fader.toolkit-vertical > .toolkit-track > .toolkit-handle::after {
    bottom: 6px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::after,
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    top: 6px;
    bottom: 6px;
    width: 8px;
    box-sizing: border-box;
}
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::before,
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::after {
    border-width: 0 2px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::before {
    left: 6px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-track > .toolkit-handle::after {
    right: 6px;
}

/* SCALE */

.toolkit-fader.toolkit-horizontal > .toolkit-scale {
    margin: 0 20px;
}
.toolkit-fader.toolkit-vertical > .toolkit-scale {
    margin: 20px 0;
}

/* LABEL */

.toolkit-fader > .toolkit-label {
    width: 40px;
    line-height: 18px;
    height: 18px;
}

/* VALUE */

.toolkit-fader > .toolkit-value,
.toolkit-fader > .toolkit-value > .toolkit-input {
    width: 40px;
    line-height: 18px;
    height: 18px;
    font-size: 14px;
}
.toolkit-fader > .toolkit-value > .toolkit-input {
    background: transparent;
}
