/*
 * This file is part of toolkit.
 *
 * toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
/*
    AVAILABLE DEFAULT BACKGROUNDS
    background-image: url(../images/meterbase/grid_soft.png);
    background-image: url(../images/meterbase/grid_strong.png);
    background-image: url(../images/meterbase/slim_soft_vertical.png);
    background-image: url(../images/meterbase/slim_strong_vertical.png);
    background-image: url(../images/meterbase/slim_soft_horizontal.png);
    background-image: url(../images/meterbase/slim_strong_horizontal.png);
    background-image: url(../images/meterbase/led_vertical.png);
    background-image: url(../images/meterbase/led_horizontal.png);
    background-image: url(../images/meterbase/bevel_soft_vertical.png);
    background-image: url(../images/meterbase/bevel_strong_vertical.png);
    background-image: url(../images/meterbase/bevel_soft_horizontal.png);
    background-image: url(../images/meterbase/bevel_strong_horizontal.png);
    
    
    
    REMINDER
    scale-height: 20px
    scale-width: 32px
    text-height: 1.2em
    margin: 5px
    bar-margin-x: 3px
    bar-margin-y: 2px
    
*/

/* BASE */

.toolkit-meter-base {
    padding: 0;
}
.toolkit-meter-base.toolkit-vertical {
    width: 64px;
    height: 320px;
}
.toolkit-meter-base.toolkit-horizontal {
    width: 320px;
    height: 64px;
}
.toolkit-meter-base.toolkit-left {
    margin: 10px 10px 10px 2px;
}
.toolkit-meter-base.toolkit-right {
    margin: 10px 2px 10px 10px;
}
.toolkit-meter-base.toolkit-top {
    margin: 2px 10px 10px 10px;
}
.toolkit-meter-base.toolkit-bottom {
    margin: 10px 10px 2px 10px;
}
/* LABEL */

.toolkit-meter-base > .toolkit-label {
    line-height: 1.2em;
    height: 1.2em;
    overflow: visible;
}
.toolkit-meter-base.toolkit-has-label > .toolkit-label {
    display: block;
}
.toolkit-meter-base.toolkit-vertical > .toolkit-label {
    text-align: center;
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-label {
    text-align: right;
}
.toolkit-meter-base.toolkit-top > .toolkit-label {
    left: 49%;
    right: 0px;
    bottom: 0px;
}
.toolkit-meter-base.toolkit-right > .toolkit-label {
    left: calc(32px + 2px);
    right: 0px;
    top: 0px;
}
.toolkit-meter-base.toolkit-bottom > .toolkit-label {
    left: 49%;
    right: 0px;
    top: 0px;
}
.toolkit-meter-base.toolkit-left > .toolkit-label {
    left: 0px;
    right: calc(32px + 2px);
    top: 0px;
}

/* TITLE */

.toolkit-meter-base > .toolkit-title {
    line-height: 1.2em;
    height: 1.2em;
    overflow: visible;
}
.toolkit-meter-base.toolkit-has-title > .toolkit-title {
    
}
.toolkit-meter-base.toolkit-vertical > .toolkit-title {
    text-align: center;
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-title {
    text-align: left;
}
.toolkit-meter-base.toolkit-top > .toolkit-title {
    left: 0px;
    right: 49%;
    bottom: 0px;
}
.toolkit-meter-base.toolkit-right > .toolkit-title {
    left: calc(32px + 2px);
    right: 0px;
    bottom: 0px;
}
.toolkit-meter-base.toolkit-bottom > .toolkit-title {
    left: 0px;
    right: 49%;
    top: 0px;
}
.toolkit-meter-base.toolkit-left > .toolkit-title {
    left: 0px;
    right: calc(32px + 2px);
    bottom: 0px;
}

/* SCALE */

.toolkit-meter-base > .toolkit-scale {
    
}
.toolkit-meter-base.toolkit-vertical > .toolkit-scale {
    width: 32px;
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-scale {
    height: 20px;
}
.toolkit-meter-base.toolkit-has-scale > .toolkit-scale {
    
}

.toolkit-meter-base.toolkit-top > .toolkit-scale {
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.toolkit-meter-base.toolkit-right > .toolkit-scale {
    left: 0px;
    top: 0px;
    bottom: 0px;
}
.toolkit-meter-base.toolkit-bottom > .toolkit-scale {
    left: 0px;
    right: 0px;
    top: 0px;
}
.toolkit-meter-base.toolkit-left > .toolkit-scale {
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.toolkit-meter-base.toolkit-top.toolkit-has-label > .toolkit-scale,
.toolkit-meter-base.toolkit-top.toolkit-has-title > .toolkit-scale {
    bottom: 1.2em;
}
.toolkit-meter-base.toolkit-bottom.toolkit-has-label > .toolkit-scale,
.toolkit-meter-base.toolkit-bottom.toolkit-has-title > .toolkit-scale {
    top: 1.2em;
}

.toolkit-meter-base.toolkit-vertical.toolkit-has-label > .toolkit-scale {
    top: 1.2em;
}
.toolkit-meter-base.toolkit-vertical.toolkit-has-title > .toolkit-scale {
    bottom: 1.2em;
}

.toolkit-meter-base > .toolkit-scale > .toolkit-label.toolkit-base {
    
}

/* BAR */

.toolkit-meter-base > .toolkit-bar {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.toolkit-meter-base.toolkit-top.toolkit-has-label > .toolkit-bar,
.toolkit-meter-base.toolkit-top.toolkit-has-title > .toolkit-bar {
    bottom: 1.2em;
}
.toolkit-meter-base.toolkit-top.toolkit-has-scale > .toolkit-bar {
    bottom: calc(20px + 2px);
}
.toolkit-meter-base.toolkit-top.toolkit-has-label.toolkit-has-scale > .toolkit-bar,
.toolkit-meter-base.toolkit-top.toolkit-has-title.toolkit-has-scale > .toolkit-bar {
    bottom: calc(1.2em + 20px + 2px);
}

.toolkit-meter-base.toolkit-bottom.toolkit-has-label > .toolkit-bar,
.toolkit-meter-base.toolkit-bottom.toolkit-has-title > .toolkit-bar {
    top: 1.2em;
}
.toolkit-meter-base.toolkit-bottom.toolkit-has-scale > .toolkit-bar {
    top: calc(20px + 2px);
}
.toolkit-meter-base.toolkit-bottom.toolkit-has-label.toolkit-has-scale > .toolkit-bar,
.toolkit-meter-base.toolkit-bottom.toolkit-has-title.toolkit-has-scale > .toolkit-bar {
    top: calc(1.2em + 20px + 2px);
}

.toolkit-meter-base.toolkit-vertical.toolkit-has-label > .toolkit-bar {
    top: calc(1.2em + 2px);
}
.toolkit-meter-base.toolkit-vertical.toolkit-has-title > .toolkit-bar {
    bottom: calc(1.2em + 2px);
}
.toolkit-meter-base.toolkit-left.toolkit-has-scale > .toolkit-bar {
    right: calc(32px + 2px);
}
.toolkit-meter-base.toolkit-right.toolkit-has-scale > .toolkit-bar {
    left: calc(32px + 2px);
}

/* OVER */

.toolkit-meter-base > .toolkit-bar > .toolkit-over {
    
}
.toolkit-meter-base.toolkit-vertical > .toolkit-bar > .toolkit-over {
    
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-bar > .toolkit-over {
    
}

/* MASK */

.toolkit-meter-base > .toolkit-bar > .toolkit-mask {
    
}

/* MARK */

.toolkit-meter-base > .toolkit-bar > .toolkit-mark {
    
}
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot {
    
}
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-marker,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-min,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-max,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-base {
    
}
.toolkit-meter-base.toolkit-vertical > .toolkit-bar > .toolkit-mark > .toolkit-dot {
    
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-bar > .toolkit-mark > .toolkit-dot {
    
}
