/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

.toolkit-multi-meter {
    margin: 3px;
    padding: 0;
}

.toolkit-multi-meter > .toolkit-title {
    height: 1.2em;
    line-height: 1.2em;
    position: absolute;
    top: 3px;
    left: 3px;
}

.toolkit-multi-meter > .toolkit-level-meter {
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: calc(1.2em + 8px);
}

.toolkit-multi-meter.toolkit-vertical > .toolkit-level-meter > .toolkit-bar,
.toolkit-multi-meter.toolkit-vertical > .toolkit-level-meter > .toolkit-state {
    border-right: 1px solid transparent;
}
.toolkit-multi-meter.toolkit-horizontal > .toolkit-level-meter > .toolkit-bar,
.toolkit-multi-meter.toolkit-horizontal > .toolkit-level-meter > .toolkit-state {
    border-bottom: 1px solid transparent;
}
.toolkit-multi-meter.toolkit-vertical > .toolkit-level-meter:nth-last-of-type(1) > .toolkit-bar,
.toolkit-multi-meter.toolkit-vertical > .toolkit-level-meter:nth-last-of-type(1) > .toolkit-state {
    border-right: 0px solid transparent;
}
.toolkit-multi-meter.toolkit-horizontal > .toolkit-level-meter:nth-last-of-type(1) > .toolkit-bar,
.toolkit-multi-meter.toolkit-horizontal > .toolkit-level-meter:nth-last-of-type(1) > .toolkit-state {
    border-bottom: 0px solid transparent;
}

.toolkit-multi-meter.toolkit-horizontal .toolkit-level-meter > .toolkit-title {
    margin-right: 4px;
}
