/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-valueknob {
    width: 100px;
    height: 100px;
}

.toolkit-valueknob > .toolkit-label {
    width: 80%;
    position: absolute;
    top: -10%;
    left: 10%;
    text-align: center;
}

.toolkit-valueknob > .toolkit-value {
    width: 80%;
    position: absolute;
    bottom: -10%;
    left: 10%;
}

.toolkit-valueknob > .toolkit-value > .toolkit-input {
    border: 1px solid transparent;
    font-size: 1em;
}
