/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */
.toolkit-window {
    -webkit-box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    opacity: 1;
}
.toolkit-window.toolkit-inactive {
    opacity: 0.5;
    -webkit-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.toolkit-window.toolkit-resizing,
.toolkit-window.toolkit-dragging {
    opacity: 0.7;
}

.toolkit-window > .toolkit-content {
    top: 30px;
    bottom: 30px;
    margin: 4px;
    text-align: justify;
}

.toolkit-window > .toolkit-header {
    height: 30px;
    line-height: 28px;
    position: absolute;
    cursor: default;
    background: #00ccff;
    color: white;
}
.toolkit-window > .toolkit-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    line-height: 28px;
    cursor: default;
    border-top: 1px solid white;
}
.toolkit-window > .toolkit-header > .toolkit-header-left {
    float: left;
}
.toolkit-window > .toolkit-header > .toolkit-header-center {
    float: left;
}
.toolkit-window > .toolkit-header > .toolkit-header-right {
    position: absolute;
    right: 0;
    top: 0;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-left {
    position: absolute;
    left: 0;
    bottom: 0;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-center {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.toolkit-window > .toolkit-header > .toolkit-header-center > .toolkit-title {
    font-weight: 700;
    font-size: 14px;
    margin: 0 5px;
}
.toolkit-window.toolkit-active > .toolkit-header > .toolkit-header-center >  .toolkit-title {
    text-align: left;
}
.toolkit-window > .toolkit-footer .toolkit-status {
    margin: 0 5px;
}
.toolkit-window > .toolkit-header .toolkit-icon  {
    width: 24px;
    height: 24px;
    margin: 3px;
}
.toolkit-window > .toolkit-header .toolkit-button  {
    background: transparent;
    border-color: transparent;
    position: relative;
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0 2px;
}

.toolkit-window > .toolkit-header .toolkit-button .toolkit-icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    text-shadow: none !important;
}


.toolkit-window.toolkit-shrinked {
    height: 30px !important;
}
.toolkit-window.toolkit-shrinked > .toolkit-footer,
.toolkit-window.toolkit-shrinked .toolkit-resize {
    display: none !important;
}

.toolkit-window > .toolkit-resize {
    background-size: contain;
    width: 24px;
    height: 24px;
    display: none;
    opacity: 0.5;
    margin: 2px;
}
.toolkit-window.toolkit-resizable > .toolkit-resize {
    display: block;
}
