.button.toggle.active {
    border: 1px solid #00365f;
    -webkit-box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
    box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
}
.button.toggle.active .label {
    background-color: #00365f;
    background-image: url(../../Button/images/gradients/blue_in.png);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-position: 50% 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/gradients/blue_in.png',sizingMethod='scale');
    color: white;
    text-shadow: 0px -1px 0px black;
    -webkit-box-shadow: 0px 1px 0px white;
    -moz-box-shadow: 0px 1px 0px white;
    box-shadow: 0px 1px 0px white;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}