.chart {
    background-color: rgb(0, 56, 103);
    background-image: url(../images/gradients/blue_in.png);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-position: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/gradients/blue_in.png',sizingMethod='scale');
    /*-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;*/
    overflow: hidden;
}
