.toolkit-expander {
    background: rgba(216, 216, 216, 0.9);
}
.toolkit-expander .toolkit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    margin: 0;
}
.toolkit-expander.toolkit-expanded .toolkit-button::after,
.toolkit-expander.toolkit-expanded .toolkit-button::before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 32px;
    top: 19px;
    left: 5px;
    transform: rotate(45deg);
    background: #003050;
}
.toolkit-expander.toolkit-expanded .toolkit-button::before {
    transform: rotate(135deg);
}
