.toolkit-fader {
    margin: 4px;
    padding: 0px;
    background-repeat: no-repeat;
}

.toolkit-fader.toolkit-vertical {
    width: 46px;
}
.toolkit-fader.toolkit-vertical.toolkit-has-scale {
    width: auto;
}
.toolkit-fader.toolkit-horizontal {
    height: 46px;
}
.toolkit-fader.toolkit-horizontal.toolkit-has-scale {
    height: auto;
}

/* BACKGROUNDS */

.toolkit-fader.toolkit-vertical {
    background-image: url(../images/fader/background_vertical_top.png),
                      url(../images/fader/background_vertical_center.png),
                      url(../images/fader/background_vertical_bottom.png);
    background-size: 46px 5px, 46px calc(100% - 10px), 46px 5px;
}
.toolkit-fader.toolkit-horizontal {
    background-image: url(../images/fader/background_horizontal_left.png),
                      url(../images/fader/background_horizontal_center.png),
                      url(../images/fader/background_horizontal_right.png);
    background-size: 5px 46px, calc(100% - 10px) 46px, 5px 46px;
}

.toolkit-fader.toolkit-left {
    background-position: 0 0, 0 5px, 0 100%;
}
.toolkit-fader.toolkit-right {
    background-position: 100% 0, 100% 5px, 100% 100%;
}
.toolkit-fader.toolkit-top {
    background-position: 0 0, 5px 0, 100% 0;
}
.toolkit-fader.toolkit-bottom {
    background-position: 0 100%, 5px 100%, 100% 100%;
}

/*
.toolkit-fader.toolkit-left.toolkit-has-scale {
    background-position: 0 0, 0 5px, 0 100%;
}
.toolkit-fader.toolkit-right.toolkit-has-scale {
    background-position: 100% 0, 100% 5px, 100% 100%;
}
.toolkit-fader.toolkit-top.toolkit-has-scale {
    background-position: 0 0, 5px 0, 100% 0;
}
.toolkit-fader.toolkit-bottom.toolkit-has-scales {
    background-position: 0 100%, 5px 100%, 100% 100%;
}
*/

/* HANDLE */

.toolkit-fader > .toolkit-handle {
    cursor: pointer;
    cursor: hand;
    margin: 1px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.toolkit-fader.toolkit-vertical > .toolkit-handle {
    width: 44px;
    height: 80px;
    background: url(../images/fader/handle_vertical.png) no-repeat;
}
.toolkit-fader.toolkit-vertical.toolkit-warn > .toolkit-handle {
    width: 44px;
    height: 80px;
    background: url(../images/fader/handle_vertical_warn.png) no-repeat;
}
.toolkit-fader.toolkit-horizontal > .toolkit-handle {
    height: 44px;
    width: 80px;
    background: url(../images/fader/handle_horizontal.png) no-repeat;
}
.toolkit-fader.toolkit-horizontal.toolkit-warn > .toolkit-handle {
    height: 44px;
    width: 80px;
    background: url(../images/fader/handle_horizontal_warn.png) no-repeat;
}
.toolkit-fader.toolkit-left > .toolkit-handle {
    left: 0;
}
.toolkit-fader.toolkit-right > .toolkit-handle {
    right: 0;
}
.toolkit-fader.toolkit-top > .toolkit-handle {
    top: 0;
}
.toolkit-fader.toolkit-bottom > .toolkit-handle {
    bottom: 0;
}

/* SCALE */

.toolkit-fader > .toolkit-scale {
    display: none;
}
.toolkit-fader.toolkit-has-scale > .toolkit-scale {
    display: block;
}

.toolkit-fader.toolkit-vertical > .toolkit-scale {
    height: calc(100% - 80px);
    margin-top: 40px;
}
.toolkit-fader.toolkit-horizontal > .toolkit-scale {
    width: calc(100% - 80px);
    margin-left: 40px;
}
.toolkit-fader.toolkit-left > .toolkit-scale {
    margin-left: 48px;
}
.toolkit-fader.toolkit-right > .toolkit-scale {
    margin-right: 48px;
}
.toolkit-fader.toolkit-top > .toolkit-scale {
    margin-top: 48px;
}
.toolkit-fader.toolkit-bottom > .toolkit-scale {
    margin-bottom: 48px;
}
