div.toolkit-fader {
    margin: 4px;
    padding: 0px;
    background-repeat: no-repeat;
}

div.toolkit-fader.toolkit-vertical {
    width: 100px;
    background-image: url(../images/fader/background_top.png),
                      url(../images/fader/background_vertical_center.png),
                      url(../images/fader/background_bottom.png);
    background-size: 66px 100px, 66px calc(100% - 200px), 66px 100px;
}
div.toolkit-fader.toolkit-left {
    background-position: 0 0, 0 100px, 0 100%;
}
div.toolkit-fader.toolkit-right {
    background-position: 100% 0, 100% 100px, 100% 100%;
}

div.toolkit-fader.toolkit-horizontal {
    height: 80px;
    background-image: url(../images/fader/background_left.png),
                      url(../images/fader/background_horizontal_center.png),
                      url(../images/fader/background_right.png);
    background-size: 100px 66px, calc(100% - 200px) 66px, 100px 66px;
}
div.toolkit-fader.toolkit-top {
    background-position: 0 0, 100px 0, calc(100% - 200px) 0;
}
div.toolkit-fader.toolkit-bottom {
    background-position: 0 100%, 100px 100%, 100% 100%;
}

div.toolkit-fader .toolkit-handle {
    cursor: pointer;
    cursor: hand;
}

div.toolkit-fader.toolkit-vertical .toolkit-handle {
    width: 66px;
    height: 100px;
    background: url(../images/fader/handle_vertical.png) no-repeat;
}
div.toolkit-fader.toolkit-vertical.toolkit-warn .toolkit-handle {
    width: 66px;
    height: 100px;
    background: url(../images/fader/handle_vertical_warn.png) no-repeat;
}

div.toolkit-fader.toolkit-horizontal .toolkit-handle {
    height: 66px;
    width: 100px;
    background: url(../images/fader/handle_horizontal.png) no-repeat;
}
div.toolkit-fader.toolkit-horizontal.toolkit-warn .toolkit-handle {
    height: 66px;
    width: 100px;
    background: url(../images/fader/handle_horizontal_warn.png) no-repeat;
}

div.toolkit-fader .toolkit-scale {
    z-index: 1;
    position: absolute;
}

div.toolkit-fader.toolkit-left .toolkit-scale {
    left: 64px;
}

div.toolkit-fader.toolkit-right .toolkit-scale {
    right: 64px;
}
