.toolkit-frequency-response {
    
}

.toolkit-frequency-response > svg > .toolkit-grid > .toolkit-grid-line.toolkit-highlight {
    stroke: rgba(255,0,0,0.66);
}
.toolkit-frequency-response > svg > .toolkit-grid > .toolkit-grid-label.toolkit-highlight {
    fill: rgb(255,255,255);
    font-weight: bold;
}
