.toolkit-gauge {
    margin: 4px;
}

.toolkit-gauge > svg > .toolkit-circular {
    fill: rgb(0,42,66);
}

.toolkit-gauge > svg > .toolkit-circular > .toolkit-base {
    fill: white;
    opacity: 0.5;
}

.toolkit-gauge > svg > .toolkit-title {
    fill: rgb(0,42,66);
}
