.toolkit-knob {
    background: url(../images/knob/background.png) no-repeat 50% 50%;
    background-size: 80% 80%;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.toolkit-knob .toolkit-hand {
    fill: #002a42;
}

.toolkit-knob .toolkit-base {
    
}
.toolkit-knob .toolkit-value {
    fill: rgba(255,255,255,0.8);
}
.toolkit-knob .toolkit-dot {
    fill: #002f42;
}
.toolkit-knob .toolkit-label {
    font-size: 7px;
    fill: #002f42;
}
