/* UNIVERSAL */

.toolkit-level-meter.toolkit-clipping > .toolkit-label {
    color: #ff8000;
    text-shadow: 0 0 3px white,0 0 3px white;
}

/* MASKS */

.toolkit-level-meter > .toolkit-bar > .toolkit-mask3,
.toolkit-level-meter > .toolkit-bar > .toolkit-mask4 {
    
}
.toolkit-level-meter.toolkit-has-hold > .toolkit-bar > .toolkit-mask3,
.toolkit-level-meter.toolkit-has-hold > .toolkit-bar > .toolkit-mask4 {
    
}

.toolkit-level-meter.toolkit-vertical > .toolkit-bar > .toolkit-mask3 {
    
}
.toolkit-level-meter.toolkit-vertical > .toolkit-bar > .toolkit-mask4 {
    
}
.toolkit-level-meter.toolkit-vertical.toolkit-reverse > .toolkit-bar > .toolkit-mask3 {
    
}
.toolkit-level-meter.toolkit-vertical.toolkit-reverse > .toolkit-bar > .toolkit-mask4 {
    
}

.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-mask3 {
    
}
.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-mask4 {
    
}
.toolkit-level-meter.toolkit-horizontal.toolkit-reverse > .toolkit-bar > .toolkit-mask3 {
    
}
.toolkit-level-meter.toolkit-horizontal.toolkit-reverse > .toolkit-bar > .toolkit-mask4 {
    
}


/* CLIP */

.toolkit-level-meter > .toolkit-clip {
    background-color: #f60 !important;
    margin: 0;
}
.toolkit-level-meter.toolkit-has-clip > .toolkit-clip {
    display: block;
}

.toolkit-level-meter.toolkit-vertical > .toolkit-clip {
    top: 2px;
    left: 3px;
    right: 3px;
    height: 5px;
}


.toolkit-level-meter.toolkit-top.toolkit-has-label > .toolkit-clip,
.toolkit-level-meter.toolkit-top.toolkit-has-title > .toolkit-clip {
    bottom: calc(1.2em + 5px + 5px);
}
.toolkit-level-meter.toolkit-top.toolkit-has-scale > .toolkit-clip {
    bottom: calc(20px + 5px);
}
.toolkit-level-meter.toolkit-top.toolkit-has-label.toolkit-has-scale > .toolkit-clip,
.toolkit-level-meter.toolkit-top.toolkit-has-title.toolkit-has-scale > .toolkit-clip {
    bottom: calc(1.2em + 5px + 5px + 20px);
}

.toolkit-level-meter.toolkit-bottom.toolkit-has-label > .toolkit-clip,
.toolkit-level-meter.toolkit-bottom.toolkit-has-title > .toolkit-clip {
    top: calc(1.2em + 5px + 5px);
}
.toolkit-level-meter.toolkit-bottom.toolkit-has-scale > .toolkit-clip {
    top: calc(20px + 5px);
}
.toolkit-level-meter.toolkit-bottom.toolkit-has-label.toolkit-has-scale > .toolkit-clip,
.toolkit-level-meter.toolkit-bottom.toolkit-has-title.toolkit-has-scale > .toolkit-clip {
    top: calc(1.2em + 5px + 5px + 20px);
}

.toolkit-level-meter.toolkit-vertical.toolkit-has-label > .toolkit-clip {
    top: calc(5px + 1.2em + 2px);
}
.toolkit-level-meter.toolkit-left.toolkit-has-scale > .toolkit-clip {
    right: 32px;
}
.toolkit-level-meter.toolkit-right.toolkit-has-scale > .toolkit-clip {
    left: 32px;
}

.toolkit-level-meter.toolkit-horizontal > .toolkit-clip {
    top: 2px;
    right: 3px;
    bottom: 2px;
    width: 5px;
}
.toolkit-level-meter.toolkit-has-label.toolkit-horizontal > .toolkit-clip,
.toolkit-level-meter.toolkit-has-title.toolkit-horizontal > .toolkit-clip {
    bottom: 2px;
}

/* SCALE */

.toolkit-level-meter.toolkit-has-clip.toolkit-horizontal > .toolkit-scale {
    right: calc(3px + 5px + 5px);
}

.toolkit-level-meter.toolkit-has-clip.toolkit-vertical > .toolkit-scale {
    top: calc(5px + 11px + 2px);
}
.toolkit-level-meter.toolkit-has-clip.toolkit-has-label.toolkit-vertical > .toolkit-scale {
    top: calc(5px + 1.2em + 11px + 2px);
}


/* BAR */

.toolkit-level-meter.toolkit-has-clip.toolkit-horizontal > .toolkit-bar {
    right: calc(5px + 5px + 3px);
}

.toolkit-level-meter.toolkit-has-clip.toolkit-vertical > .toolkit-bar {
    top: calc(5px + 5px + 4px);
}
.toolkit-level-meter.toolkit-has-clip.toolkit-has-label.toolkit-vertical > .toolkit-bar {
    top: calc(5px + 1.2em + 11px + 2px);
}

/* PEAK */

.toolkit-level-meter > .toolkit-bar > .toolkit-peak {
    line-height: 16px;
}
.toolkit-level-meter.toolkit-has-peak > .toolkit-bar > .toolkit-peak {
    
}

.toolkit-level-meter.toolkit-vertical > .toolkit-bar > .toolkit-peak {
    top: 0;
    margin-top: -7px;
    width: 36px;
    height: 16px;
    padding-top: 2px;
}
.toolkit-level-meter.toolkit-vertical.toolkit-left > .toolkit-bar > .toolkit-peak {
    left: -1;
    background: url(../images/levelmeter/peak_vertical_left.png) no-repeat;
    padding-left: 13px;
}
.toolkit-level-meter.toolkit-vertical.toolkit-right > .toolkit-bar > .toolkit-peak {
    right: -1px;
    background: url(../images/levelmeter/peak_vertical_right.png) no-repeat 100% 0;
    padding-right: 13px;
    text-align: right;
}

.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-peak {
    margin-left: -8px;
    width: 16px;
    height: 32px;
    padding-top: 18px;
    text-align: center;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-top > .toolkit-bar > .toolkit-peak {
    top: -1px;
    background: url(../images/levelmeter/peak_horizontal_top.png) no-repeat 0 0;
    padding-top: 21px;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-bottom > .toolkit-bar > .toolkit-peak {
    bottom: -1px;
    background: url(../images/levelmeter/peak_horizontal_bottom.png) no-repeat 0 100%;
}

/* PEAK LABEL */

.toolkit-level-meter > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    color: white;
    font-size: 8px;
    line-height: 10px;
    opacity: 0.9;
    width:  25px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.toolkit-level-meter.toolkit-vertical > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    text-shadow: 0 1px 2px black,0 1px 2px black;
}
.toolkit-level-meter.toolkit-vertical.toolkit-left > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    
}
.toolkit-level-meter.toolkit-vertical.toolkit-right > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    
}

.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    text-shadow: -1px 0 2px black,-1px 0 2px black;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-top > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    margin-right: -5px;
    text-align: right;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-bottom > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    margin-left: -6px;
    text-align: left;
}
