/* GENERAL */

.toolkit-pager {
    
}

.toolkit-pager > .toolkit-clip {
    overflow: hidden; 
}

.toolkit-pager .toolkit-page {
     
}
.toolkit-container.toolkit-hide {
    
}

.toolkit-pager.toolkit-forward.toolkit-vertical  > .toolkit-clip > .toolkit-page.toolkit-hiding {
    animation: toolkit-page-vertical-out-forward 0.5s ease-in-out;
    transform: translateX(-100%);
}
.toolkit-pager.toolkit-forward.toolkit-vertical  > .toolkit-clip > .toolkit-page.toolkit-showing {
    animation: toolkit-page-vertical-in-forward 0.5s ease-in-out;
}

.toolkit-pager.toolkit-backward.toolkit-vertical  > .toolkit-clip > .toolkit-page.toolkit-hiding {
    animation: toolkit-page-vertical-out-backward 0.5s ease-in-out;
    transform: translateX(100%);
}
.toolkit-pager.toolkit-backward.toolkit-vertical  > .toolkit-clip > .toolkit-page.toolkit-showing {
    animation: toolkit-page-vertical-in-backward 0.5s ease-in-out;
}

.toolkit-pager.toolkit-forward.toolkit-horizontal > .toolkit-clip > .toolkit-page.toolkit-hiding {
    animation: toolkit-page-horizontal-out-forward 0.5s ease-in-out;
    transform: translateY(-100%);
}
.toolkit-pager.toolkit-forward.toolkit-horizontal  > .toolkit-clip > .toolkit-page.toolkit-showing {
    animation: toolkit-page-horizontal-in-forward 0.5s ease-in-out;
}

.toolkit-pager.toolkit-backward.toolkit-horizontal  > .toolkit-clip > .toolkit-page.toolkit-hiding {
    animation: toolkit-page-horizontal-out-backward 0.5s ease-in-out;
    transform: translateY(100%);
}
.toolkit-pager.toolkit-backward.toolkit-horizontal  > .toolkit-clip > .toolkit-page.toolkit-showing {
    animation: toolkit-page-horizontal-in-backward 0.5s ease-in-out;
}

@keyframes toolkit-page-horizontal-in-forward {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}
@keyframes toolkit-page-horizontal-out-forward {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
@keyframes toolkit-page-horizontal-in-backward {
    0%   { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}
@keyframes toolkit-page-horizontal-out-backward {
    0%   { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

@keyframes toolkit-page-vertical-in-forward {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes toolkit-page-vertical-out-forward {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@keyframes toolkit-page-vertical-in-backward {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
@keyframes toolkit-page-vertical-out-backward {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
