/*
available overlays:
circle.png
square.png
vertical.png
horizontal.png
*/

div.toolkit-state {
    width: 30px;
    height: 5px;
    margin: 10px;
    background-color: white;
    background-image:  url(../images/state/circle.png);
    background-position: 0 0;
    background-size: 100% 100%;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #fff;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #f3f3f3;
}

div.toolkit-state div.toolkit-mask {
    background: black;
}
