.toolkit-value > .toolkit-input {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #f3f3f3;
    display: inline-block;
    color: #002f42;
    background: transparent;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.toolkit-value.toolkit-active > .toolkit-input {
    background: #002a42;
    color: white;
    border: 1px solid transparent;
}
