.toolkit-valueknob {
    width: 100px;
    height: 100px;
}

.toolkit-valueknob > .toolkit-value {
    width: 80%;
    position: absolute;
    bottom: -10%;
    left: 10%;
}

.toolkit-valueknob > .toolkit-value > .toolkit-input {
    border: 1px solid transparent;
}
