.toolkit-window {
    border: 1px solid #fff;
    background: #eee url(../images/window/background.png) no-repeat;
    -webkit-box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.33);
    opacity: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
}
.toolkit-window.toolkit-inactive {
    opacity: 0.5;
    -webkit-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.toolkit-window.toolkit-resizing,
.toolkit-window.toolkit-dragging {
    opacity: 0.7;
}

.toolkit-window > .toolkit-content {
    top: 30px;
    bottom: 30px;
    margin: 4px;
    text-align: justify;
}

.toolkit-window > .toolkit-header {
    height: 30px;
    line-height: 28px;
    position: absolute;
    cursor: default;
    border-bottom: 1px solid rgba(0,0,0,0.033);
    background: rgba(255,255,255,0.33);
}
.toolkit-window > .toolkit-footer {
    height: 28px;
    line-height: 28px;
    cursor: default;
    border-top: 1px solid rgba(255,255,255,0.6);
    background: rgba(255,255,255,0.33);
}
.toolkit-window > .toolkit-header > .toolkit-header-left {
    float: left;
}
.toolkit-window > .toolkit-header > .toolkit-header-center {
    float: left;
}
.toolkit-window > .toolkit-header > .toolkit-header-right {
    position: absolute;
    right: 0;
    top: 0;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-left {
    position: absolute;
    left: 0;
    bottom: 0;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-center {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.toolkit-window > .toolkit-footer > .toolkit-footer-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.toolkit-window > .toolkit-header > .toolkit-header-center > .toolkit-title {
    font-weight: 700;
    font-size: 14px;
    color: #999;
    text-shadow: 0px 1px 0px white;
    margin: 0 5px;
}
.toolkit-window.toolkit-active > .toolkit-header > .toolkit-header-center >  .toolkit-title {
    color: #002f42;
    text-align: left;
}
.toolkit-window > .toolkit-footer .toolkit-status {
    color: #999;
    margin: 0 5px;
}
.toolkit-window > .toolkit-header .toolkit-icon {
    width: 24px;
    height: 24px;
    margin: 2px;
}
.toolkit-window > .toolkit-header .toolkit-button  {
    padding: 2px;
    border: 1px solid transparent;
    background: transparent;
    transition: border-color 0.33s;
}
.toolkit-window > .toolkit-header .toolkit-button:hover  {
    border-color: rgba(0, 0, 0, 0.25);
}
.toolkit-window > .toolkit-header .toolkit-button .toolkit-icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-close .toolkit-icon {
    background-image: url(../images/window/close.png);
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-maximize .toolkit-icon {
    background-image: url(../images/window/maximize.png);
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-maximize-vertical .toolkit-icon {
    background-image: url(../images/window/maximize_vert.png);
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-maximize-horizontal .toolkit-icon {
    background-image: url(../images/window/maximize_horiz.png);
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-minimize .toolkit-icon {
    background-image: url(../images/window/minimize.png);
}
.toolkit-window > .toolkit-header .toolkit-button.toolkit-shrink .toolkit-icon {
    background-image: url(../images/window/shrink.png);
}

.toolkit-window.toolkit-shrinked {
    height: 30px !important;
}
.toolkit-window.toolkit-shrinked > .toolkit-footer,
.toolkit-window.toolkit-shrinked .toolkit-resize {
    display: none !important;
}

.toolkit-window > .toolkit-resize {
    background: url(../images/window/resize.png) no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: none;
    opacity: 0.08;
    margin: 2px;
}
.toolkit-window.toolkit-resizable > .toolkit-resize {
    display: block;
}
