<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?> - Documentation</title>

    <link type="text/css" rel="stylesheet" href="toolkit/styles/css/toolkit.all.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="screen.css">
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="toolkit.all.js"></script>
    <script>
        function __init__ () {
            var nav = document.getElementById("navigation");
            var b = nav.getElementsByTagName("h3");
            for (var i = 0; i < b.length; i++) {
                b[i].onclick = function (e) {
                    var u = this.nextSibling;
                    u.style.display = u.style.display ? "" : "block";
                    var ud = u.style.display;
                    var uw = u.offsetWidth;
                    var bw = this.offsetWidth;
                    var bl = this.offsetLeft;
                    var ww = window.innerWidth;
                    var ul = Math.max(0, Math.min(ww - uw, (bl + bw / 2 - uw / 2)));
                    u.style.left = ul + "px";
                    if (ud) {
                        setTimeout(function () {
                            document.body.addEventListener("click", function fun(e) {
                                u.style.display = "";
                                document.body.removeEventListener("click", fun);
                            });
                        }, 100);
                    }
                }
            }
            var ul = nav.getElementsByTagName("ul");
            var chr = "";
            for (var i = 0; i < ul.length; i++) {
                var li = ul[i].getElementsByTagName("li");
                if (li.length > 3) {
                    for (var j = 0; j < li.length; j++) {
                        var c = li[j].childNodes[0].innerHTML.substr(0, 1);
                        if (c != chr) {
                            var h = document.createElement("H4");
                            var l = document.createElement("LI");
                            h.innerHTML = c;
                            l.setAttribute("class", "header");
                            l.appendChild(h);
                            ul[i].insertBefore(l, li[j]);
                            chr = c;
                        }
                    }
                }
            }
        }
        function prepare_example() {
            window.addEventListener("load", setup_example.bind(this, document.currentScript));
        }

        function setup_javascript(current, code) {
            var source = code.textContent;

            if (source.match(/^\s*function/)) {
                fun = new Function("", "return "+source)();
            } else return;

            function hide_root(e) {
                window.example.root.destroy();
                window.example.blinder.parentNode.removeChild(window.example.blinder);
                window.example = null;
            }

            var b = document.createElement("button");
            b.setAttribute("class", "runbutton");
            b.addEventListener("click", function() {
                if (window.example && window.example.root)
                    window.example.root.destroy();
                window.example = {};
                var blinder = document.createElement("DIV");
                blinder.setAttribute("class", "blinder");
                document.body.appendChild(blinder);
                window.example['blinder'] = blinder;
                window.example['root'] = new TK.Root({
                    container: blinder
                });
                var b = document.createElement("button");
                b.setAttribute("class", "closebutton");
                b.addEventListener("click", hide_root);
                b.appendChild(document.createTextNode("Close"));
                window.example.root.element.appendChild(b);
                
                fun(window.example.root);

                return false;
            });
            b.appendChild(document.createTextNode("Run!"));
            current.parentNode.insertBefore(b, current.nextSibling);

            var h = document.createElement("h2");
            h.appendChild(document.createTextNode("JavaScript"));
            code.parentNode.insertBefore(h, code);
        }
        function setup_stylesheet(current, code) {
            var style = document.createElement("STYLE");
            style.innerText = code.textContent;
            document.head.appendChild(style);
            var h = document.createElement("h2");
            h.appendChild(document.createTextNode("Stylesheet"));
            code.parentNode.insertBefore(h, code);
        }
        function setup_example(current) {
            var code = current.parentNode.getElementsByTagName("pre");
            var fun;

            if (!code.length) return;

            for (var i = 0; i < code.length; i++) {
                if (TK.has_class(code[i], "css")) {
                    setup_stylesheet(current, code[i]);
                } else {
                    setup_javascript(current, code[i]);
                }
            }
        }
    </script>
</head>
<body onload="__init__()">

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav id="navigation">
    <?js= this.nav(obj) ?>
</nav>

<div id="main">
    <?js= content ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the Minami theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
