h1, h2, h3, h4, h5, h6, input, textarea, body, a {
    font-family: "Open Sans", sans-serif !important;
    color: #003050;
}

body {
    color: #333;
    font-weight: normal;
    font-size: 0.9em;
    overflow-y: scroll;
    padding: 20px;
    line-height: 1.5em;
    background: #D8D8D8; 
    text-align: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3.5em;
    color: #003050;
    line-height: 1.3em;
    text-align: right;
}

h2 {
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1em;
    color: #003050;
    background: none;
    text-transform: none;
    margin: 0;
    padding: 0px 0 0.5em 0;
}
h3 {
    font-size: 2.5em;
    line-height: 2em;
    clear: both;
    color: #999;
    margin: 0;
}
h4 {
    font-size: 130%;
    line-height: 2em;
    font-weight: bold;
    margin: 0;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    line-height: 2em;
}
h4.name {
    clear: both;
    font-size: 1.2em;
}

p {
    margin-bottom: 1.5em;
}

a, a:active {
    color: #003050;
}

section {
    background: transparent;
    padding: 1em 2em !important;
    max-width: 960px;
    text-align: left;
    margin: auto;
    clear: both;
}

footer {
    color: #999;
    padding: 0 2em;
    margin: auto;
    text-align: right;
    max-width: 960px;
    text-align: right;
}


/* NAVIGATION */

nav {
    background: #003050;
    width: calc(100% + 40px);
    height: 3em;
    line-height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    float: none;
    overflow: hidden;
    transition: height 0.5s;
}
nav > h2 > a {
    color: white !important;
    margin: 0;
}
nav h2, nav h3 {
    color: white !important;
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
    line-height: 3em;
    font-size: 1em;
    font-weight: normal;
    width: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
nav h3 {
    cursor: pointer;
}
nav > ul {
    width: 0px;
    float: left;
    position: relative;
    top: 3em;
    left: -100px;
    margin: 0;
    padding: 0;
    border-bottom: 1em solid transparent;
}
nav > ul > li {
    margin: 0;
    padding: 0;
    width: 99px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 1px;
}
nav > ul > li:hover {
    background: white;
}
nav > ul > li > a {
    color: white;
}
nav > ul > li:hover > a {
    color: #003050 !important;
    text-decoration: none;
}
nav > ul > li > a:hover {
    color: white;
}
nav > ul > li > ul {
    color: white;
    text-decoration: underline;
    position: fixed;
    right: 0;
    top: 3em;
    background: rgba(0, 48, 80, 0.8);
    padding: 0.5em;
    margin: 0;
    text-align: right;
}
nav > ul > li > ul > li > a {
    text-decoration: none !important;
}
nav > ul > li > ul > li > a,
nav > ul > li > ul > li > a:hover {
    color: white;
    padding: 0;
    border: none;
}

#main {
    width: 100%;
    float: none;
    margin-top: 3em;
}


/* SPECIAL STUFF */

.readme h1 img {
    height: 2em;
    width: auto;
    float: right;
    margin-left: 1em;
}
@media (max-width: 600px) {
    .readme h1 {
        text-align:center;
    }
    .readme h1 img {
        height: 1.5em;
        width: auto;
        float: none;
        margin: 0;
    }
}
.details {
    font-size: 80%;
    float: right;
    width: 30%;
    margin: 0;
    border: none;
}

.details li {
    white-space: nowrap;
    margin: 0;
}

.toolkit-root {
    background: #eee;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
}

.methods > li.inherited > a {
    color: rgb(152, 153, 154);
}

.description {
    margin-top: 0;
}

.type-signature {
    color: #999;
}

.subsection-title + ul > li {
    float: left;
    margin-left: 0.2em;
}
/* CODE */


code {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
table code {
    background: none;
}
.prettyprint {
    border-radius: 0;
    margin-bottom: 1.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
    background: white;
}
.prettyprint code {
    margin: 0;
    background: none;
}
.prettyprint.linenums {
    padding-left: 60px;
}
.prettyprint.linenums code {
    padding: 0 8px;
}
.prettyprint.linenums ol {
    list-style: decimal-leading-zero;
}
.prettyprint.linenums li {
    border-left: 1px solid #999;
}
table {
    margin: 0px 0 2em 0;
    width: 100%;
    border-collapse: collapse;
    overflow: auto !important;
    clear: both;
    border: 1px solid #fff;
    box-shadow: none !important;
}
table tr {
    background: none !important;
    border: 1px solid rgba(255,255,255,0.5);
}
table th {
    background: rgba(255,255,255,0.33);
    padding: 0 1em;
    font-weight: 500;
    color: #001940;
    font-size: 0.9em;
}
table td {
    background: rgba(0,0,0,0.05);
    padding: 8px;
    
    vertical-align: top;
}
table td:first-child {
    font-weight: 800;
    width: 120px;
}
table td:nth-child(2) {
/*
    width: 240px;
*/
}
table td.headline {
    background: rgba(255, 255, 255, 0.1);
}
table tr.inherit {
    color: #aaa;
}
