/* This CSS looks quite strange because it is supposed to overwrite
 * the settings in jsdoc-default.css */

h1, h2, h3, h4, h5, h6, input, textarea, body, a, button, select, option {
    font-family: "Open Sans", sans-serif !important;
    color: #003050;
}

body {
    color: #333;
    font-weight: normal;
    font-size: 0.9em;
    overflow-y: scroll;
    padding: 20px;
    line-height: 1.5em;
/*
    background: #D8D8D8; 
*/
    background: #e3e3e3;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3.5em;
    color: #003050;
    line-height: 1.3em;
    text-align: right;
    margin-left: 1em;
}

h2 {
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1em;
    color: #003050;
    background: none;
    text-transform: none;
    margin: 0;
    padding: 0px 0 0.5em 0;
}
h3 {
    font-size: 2.5em !important;
    line-height: 2em;
    clear: left;
    color: #999;
    margin: 0 !important;
}
h4 {
    font-size: 130%;
    line-height: 2em;
    font-weight: bold;
    margin: 0;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    line-height: 2em;
/*
    clear: both;
*/
}
h4.name {
    clear: both;
    font-size: 1.3em;
    border-top: 1px solid #ccc;
    margin-top: 1em;
}

p {
    margin-bottom: 1.5em;
}

a, a:active {
    color: #003050;
    text-decoration: underline;
}

:target:before {
    content: "";
    display: block;
    height: 1em;
    margin: -1em 0 0;
}

.prettyprint :target:before {
    content: none;
}

button {
    background: #003050;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    transition: all 0.33s;
    cursor: pointer;
    border-radius: 0.25em;
}
button:hover {
    
}


/* STRUCTURE */

header {
    
}
section {
    background: transparent;
    padding: 2em 1em !important;
    max-width: 960px;
    text-align: left;
    margin: auto;
    clear: both;
}
article {
    
}
footer {
    color: #999;
    padding: 0 2em;
    margin: auto;
    text-align: right;
    max-width: 960px;
    text-align: right;
}

#main {
    width: 100%;
    float: none;
}

/* NAVIGATION */

#navigation {
    width: 100%;
    max-width: calc(960px - 2em);
    background: #003050;
    color: white;
    padding: 1em;
    float: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s;
}
#navigation::before {
    content: "";
    width: 1em;
    height: 0.2em;
    position: absolute;
    top: 1em;
    right: 1em;
    transform: rotate(45deg);
    background: white;
}
#navigation::after {
    content: "";
    width: 1em;
    height: 0.2em;
    position: absolute;
    top: 1em;
    right: 1em;
    transform: rotate(-45deg);
    background: white;
}

#navigation .navblock .itemsnav {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
}
@media (max-width: 800px) {
    #navigation .navblock .itemsnav {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
@media (max-width: 600px) {
    #navigation .navblock .itemsnav {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 500px) {
    #navigation .navblock .itemsnav {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 400px) {
    #navigation .navblock .itemsnav {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
#navigation .navblock {
    
}

#navigation .navblock h2,
.subnav h2 {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.3em;
    color: white;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#navigation .navblock .itemsnav a {
    color: white;
    text-decoration: none;
    line-height: 1.8em;
    font-size: 1em;
}
#navigation .navblock .itemsnav a:hover {
    color: #003050;
    background: white;
    text-decoration: none;
}

#navbutton {
    position: fixed;
    z-index: 1;
    top: 0em;
    right: 0.5em;
    width: 2.2em;
    height: 2.2em;
    box-sizing: border-box;
    transition: all 0.33s;
    background-image: url(images/menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-right-radius: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    -moz-border-radius-bottomright: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.subnav {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #003050;
    opacity: 0.2;
    transition: opacity 0.33s;
    text-align: right;
    margin: 0;
    -webkit-border-top-left-radius: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    -moz-border-radius-topleft: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
.subnav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 0.5em;
    line-height: 1.5em;
}
.subnav a:hover {
    color: #003050;
    background: white;
    text-decoration: none;
}
.subnav:hover {
    opacity: 1;
}
@media (max-width: 800px) {
    .subnav {
        display: none;
    }
}
.subnav ul {
    margin: 0;
}
.subnav h2 {
    padding-left: 0.2em;
}
.navicon-button {
    display: none;
}



/* SPECIAL STUFF */

.readme h1 img {
    height: 2em;
    width: auto;
    float: right;
    margin-left: 1em;
}
@media (max-width: 600px) {
    .readme h1 {
        text-align:center;
    }
    .readme h1 img {
        height: 1.5em;
        width: auto;
        float: none;
        margin: 0;
    }
}
.details {
    font-size: 80%;
    float: right;
    width: 280px;
    margin: 0;
    border: none;
    text-align: right;
    margin-bottom: 2em;
}
.details dt {
    margin-bottom: 1px;
    width: 100px;
    text-align: right;
    display: block;
}
.details dd {
    margin-left: 100px;
    margin-bottom: 1px;
    padding-left: 10px;
    text-align: left;
    display: block;
}
.details li {
    white-space: nowrap;
    margin: 0;
}

.toolkit-root {
    background: #eee;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
}

.methods > li.inherited > a {
    color: rgb(152, 153, 154);
}

.description {
    margin-top: 0;
}

.container-overview {
    clear: none;
}

.type-signature {
    color: #999;
}

.signature-attributes {
    color: #999;
}

.subsection-title {
    margin-top: 2.5em !important;
}
.subsection-title + ul > li,
.subsection-title + dl > dt {
    float: left;
    margin-right: 0.8em;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.subsection-title + ul > li:before,
.subsection-title + dl > dt:before {
    content: '• ';
}


dl.param-type {
    border: none;
    margin-bottom: 1em;
    padding: 0;
}

.closebutton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.blinder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(216, 216, 216, 0.9);
}


/* CODE */

code {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
table code {
    background: none;
    padding: 0;
}
.prettyprint {
    border-radius: 0;
    margin-bottom: 1.5em;
    border: 1px solid white;
    background: white;
    box-shadow: none !important;
    width: 100%;
}
.prettyprint code {
    margin: 0;
    background: none;
}
.prettyprint.linenums {
    padding-left: 60px;
}
.prettyprint.linenums code {
    padding: 0 8px;
}
.prettyprint.linenums ol {
    list-style: decimal-leading-zero;
}
.prettyprint.linenums li {
    border-left: 1px solid #999;
}
table {
    margin: 0px 0 1em 0;
    width: 100%;
    border-collapse: collapse;
    overflow: auto !important;
    clear: both;
    border: none !important;
    box-shadow: none !important;
}
table tr {
    background: none !important;
    border: 3px solid transparent;
    border-width: 0px 0px 3px 0px;
}
table th {
    padding: 0 !important;
    font-weight: 500;
    color: #001940;
    font-size: 0.9em;
}
table td {
    padding: 8px 8px 8px 0 !important;
    border: none !important;
    vertical-align: top;
}
table td:first-child {
    font-weight: 800;
    width: 120px;
}
table td:nth-child(2) {
/*
    width: 240px;
*/
}
table td.headline {
    background: rgba(255, 255, 255, 0.1);
}
table tr.inherit {
    color: #aaa;
}

.props .props td {
    padding: 2px 4px 2px 0 !important;
}
