@font-face {
  font-family: "Toolkit";
  font-style: normal;
  font-weight: normal;
  src: url("Toolkit.ttf") format("truetype");
}

.toolkit-icon {
  font-family: "Toolkit", sans-serif;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.toolkit-button.toolkit-icon::before{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.toolkit-icon.toolkit-12  { font-size: 12px; }
.toolkit-icon.toolkit-16  { font-size: 16px; }
.toolkit-icon.toolkit-20  { font-size: 20px; }
.toolkit-icon.toolkit-24  { font-size: 24px; }
.toolkit-icon.toolkit-32  { font-size: 32px; }
.toolkit-icon.toolkit-40  { font-size: 40px; }
.toolkit-icon.toolkit-48  { font-size: 48px; }
.toolkit-icon.toolkit-56  { font-size: 56px; }
.toolkit-icon.toolkit-64  { font-size: 64px; }
.toolkit-icon.toolkit-128 { font-size: 128px; }
.toolkit-icon.toolkit-256 { font-size: 256px; }

.toolkit-icon.warning::before                              { content: '1'; }
.toolkit-icon.information::before                          { content: '2'; }
.toolkit-icon.info::before                                 { content: '2'; }
.toolkit-icon.error::before                                { content: '3'; }
.toolkit-icon.message::before                              { content: '4'; }
.toolkit-icon.close::before                                { content: '5'; }
.toolkit-icon.success::before                              { content: '6'; }
.toolkit-icon.hourglass::before                            { content: '7'; }
.toolkit-icon.loading::before                              { content: '7'; }
.toolkit-icon.questionmark::before                         { content: '8'; }
.toolkit-icon.screensize::before                           { content: '9'; }
.toolkit-icon.windowminimize::before                       { content: 'a'; }
.toolkit-icon.winmin::before                               { content: 'a'; }
.toolkit-icon.windowclose::before                          { content: '0'; }
.toolkit-icon.winclose::before                             { content: '0'; }
.toolkit-icon.windowmaximize::before                       { content: 'b'; }
.toolkit-icon.winmax::before                               { content: 'b'; }
.toolkit-icon.windowmaximizevertical::before               { content: 'c'; }
.toolkit-icon.winmaxvert::before                           { content: 'c'; }
.toolkit-icon.windowmaximizehorizontal::before             { content: 'd'; }
.toolkit-icon.winmaxhoriz::before                          { content: 'd'; }
.toolkit-icon.windowshrink::before                         { content: 'e'; }
.toolkit-icon.winshrink::before                            { content: 'e'; }
.toolkit-icon.windowresize::before                         { content: 'f'; }
.toolkit-icon.unchecked::before                            { content: 'g'; }
.toolkit-icon.checked::before                              { content: 'h'; }
.toolkit-icon.speakeractive::before                        { content: 'i'; }
.toolkit-icon.sound::before                                { content: 'i'; }
.toolkit-icon.speakermute::before                          { content: 'j'; }
.toolkit-icon.mute::before                                 { content: 'j'; }
.toolkit-icon.gear::before                                 { content: 'k'; }
.toolkit-icon.cogwheel::before                             { content: 'k'; }
.toolkit-icon.cog::before                                  { content: 'k'; }
.toolkit-icon.power::before                                { content: 'l'; }
.toolkit-icon.phase::before                                { content: 'm'; }
.toolkit-icon.phaseinvert::before                          { content: 'm'; }
.toolkit-icon.arrowdown::before                            { content: 'n'; }
.toolkit-icon.arrowup::before                              { content: 'o'; }
.toolkit-icon.arrowleft::before                            { content: 'p'; }
.toolkit-icon.arrowright::before                           { content: 'q'; }
.toolkit-icon.hide::before                                 { content: 'r'; }
.toolkit-icon.show::before                                 { content: 's'; }
.toolkit-icon.highpass::before                             { content: 't'; }
.toolkit-icon.hipass::before                               { content: 't'; }
.toolkit-icon.lowpass::before                              { content: 'u'; }
.toolkit-icon.lopass::before                               { content: 'u'; }
.toolkit-icon.highshelf::before                            { content: 'v'; }
.toolkit-icon.hishelf::before                              { content: 'v'; }
.toolkit-icon.lowshelf::before                             { content: 'w'; }
.toolkit-icon.loshelf::before                              { content: 'w'; }
.toolkit-icon.bandpass::before                             { content: 'x'; }
.toolkit-icon.bandreject::before                           { content: 'y'; }
.toolkit-icon.notch::before                                { content: 'z'; }
.toolkit-icon.parametric::before                           { content: 'A'; }
.toolkit-icon.sine::before                                 { content: 'B'; }
.toolkit-icon.pulse::before                                { content: 'C'; }
.toolkit-icon.sawtooth::before                             { content: 'D'; }
.toolkit-icon.triangle::before                             { content: 'E'; }
