@font-face {
  font-family: "Toolkit";
  font-style: normal;
  font-weight: normal;
  src: local("Toolkit"), url("Toolkit.ttf") format("truetype");
}

.icon {
  font-family: "Toolkit", sans-serif;
  font-size: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.button.icon::before{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.icon.12  { font-size: 12px; }
.icon.16  { font-size: 16px; }
.icon.20  { font-size: 20px; }
.icon.24  { font-size: 24px; }
.icon.32  { font-size: 32px; }
.icon.40  { font-size: 40px; }
.icon.48  { font-size: 48px; }
.icon.56  { font-size: 56px; }
.icon.64  { font-size: 64px; }
.icon.128 { font-size: 128px; }
.icon.256 { font-size: 256px; }

.icon.warning::before                              { content: '1'; }
.icon.information::before                          { content: '2'; }
.icon.info::before                                 { content: '2'; }
.icon.error::before                                { content: '3'; }
.icon.message::before                              { content: '4'; }
.icon.close::before                                { content: '5'; }
.icon.success::before                              { content: '6'; }
.icon.hourglass::before                            { content: '7'; }
.icon.loading::before                              { content: '7'; }
.icon.questionmark::before                         { content: '8'; }
.icon.screensize::before                           { content: '9'; }
.icon.windowminimize::before                       { content: 'a'; }
.icon.winmin::before                               { content: 'a'; }
.icon.windowclose::before                          { content: '0'; }
.icon.winclose::before                             { content: '0'; }
.icon.windowmaximize::before                       { content: 'b'; }
.icon.winmax::before                               { content: 'b'; }
.icon.windowmaximizevertical::before               { content: 'c'; }
.icon.winmaxvert::before                           { content: 'c'; }
.icon.windowmaximizehorizontal::before             { content: 'd'; }
.icon.winmaxhoriz::before                          { content: 'd'; }
.icon.windowshrink::before                         { content: 'e'; }
.icon.winshrink::before                            { content: 'e'; }
.icon.windowresize::before                         { content: 'f'; }
.icon.unchecked::before                            { content: 'g'; }
.icon.checked::before                              { content: 'h'; }
.icon.speakeractive::before                        { content: 'i'; }
.icon.speakermute::before                          { content: 'j'; }
.icon.gear::before                                 { content: 'k'; }
.icon.cogwheel::before                             { content: 'k'; }
.icon.cog::before                                  { content: 'k'; }
.icon.power::before                                { content: 'l'; }
.icon.phase::before                                { content: 'm'; }
.icon.phaseinvert::before                          { content: 'm'; }
.icon.arrowdown::before                            { content: 'n'; }
.icon.arrowup::before                              { content: 'o'; }
.icon.arrowleft::before                            { content: 'p'; }
.icon.arrowright::before                           { content: 'q'; }
.icon.highpass::before                             { content: 'r'; }
.icon.hipass::before                               { content: 'r'; }
.icon.lowpass::before                              { content: 's'; }
.icon.lopass::before                               { content: 's'; }
.icon.highshelf::before                            { content: 't'; }
.icon.hishelf::before                              { content: 't'; }
.icon.lowshelf::before                             { content: 'u'; }
.icon.loshelf::before                              { content: 'u'; }
.icon.bandpass::before                             { content: 'v'; }
.icon.bandreject::before                           { content: 'w'; }
.icon.notch::before                                { content: 'x'; }
.icon.parametric::before                           { content: 'y'; }
