.graph {
    stroke: #fff;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
}

.graph.filled {
    stroke-width: 0px;
    stroke: #fff;
    fill: rgba(255,255,255,0.8);
}

.graph.outline {
    stroke-width: 2px;
    stroke: white;
    fill: none;
}


