.toolkit-root {
    background: #e3e3e3 !important;
    color: #666 !important;
    fill: #666 !important;
}

.toolkit-button {
    background-color: white;
    border-color: white;
}
.toolkit-button:hover,
.toolkit-button:active {
    border-color: #aacc00;
}
.toolkit-button.toolkit-active {
    color: white;
    background: #aacc00;
    border-color: #aacc00;
}
.toolkit-button.toolkit-active:hover,
.toolkit-button.toolkit-active:active {
    border-color: white;
}

.toolkit-buttonarray > .toolkit-clip {
    background: white;
}
.toolkit-buttonarray > .toolkit-previous,
.toolkit-buttonarray > .toolkit-next {
    color: #666;
}
.toolkit-buttonarray > .toolkit-previous:hover,
.toolkit-buttonarray > .toolkit-next:hover {
    color: #aacc00;
}  

.toolkit-chart > svg {
    background-color: #222;
}
.toolkit-chart > svg > .toolkit-grid {
    opacity: 0.5;
}
.toolkit-chart > svg > .toolkit-background {
    fill: transparent;
}
.toolkit-chart > svg > .toolkit-background.toolkit-hover {
    fill: white;
}
.toolkit-chart > svg > .toolkit-key {
    fill: #666;
}
.toolkit-chart > svg > .toolkit-title {
    fill: #aacc00;
}

.toolkit-circular > .toolkit-base {
    fill: white;
}
.toolkit-circular.toolkit-warn > .toolkit-base {
    fill: rgba(255, 255, 255, 0.5);
}
.toolkit-circular > .toolkit-value {
    fill: #aacc00;
}
.toolkit-circular.toolkit-warn > .toolkit-value {
    fill: #666;
}
.toolkit-circular > .toolkit-hand {
    fill: #aacc00;
}

.toolkit-dynamics > svg > .toolkit-grid > .toolkit-grid-line.toolkit-highlight {
    stroke: #aacc00;
}
.toolkit-dynamics > svg > .toolkit-grid > .toolkit-grid-label.toolkit-highlight {
    fill: rgb(255,255,255);
}
.toolkit-dynamics > svg > .toolkit-graphs > .toolkit-steady {
    stroke: #666;
}

.toolkit-fader::before {
    background-color: white;
}
.toolkit-fader > .toolkit-handle {
    background: #aacc00;
}
.toolkit-fader > .toolkit-handle::after,
.toolkit-fader > .toolkit-handle::before {
    border-color: white;
}
.toolkit-fader > .toolkit-value.toolkit-active > .toolkit-input {
    background: #aacc00;
}
.toolkit-fader.toolkit-left > .toolkit-marker {
    border-right-color: #aacc00;
}
.toolkit-fader.toolkit-right > .toolkit-marker {
    border-left-color: #aacc00;
}
.toolkit-fader.toolkit-top > .toolkit-marker {
    border-bottom-color: #aacc00;
}
.toolkit-fader.toolkit-bottom > .toolkit-marker {
    border-top-color: #aacc00;
}
.toolkit-fader > .toolkit-bar {
    background: white;
}

.toolkit-frequency-response > svg > .toolkit-grid > .toolkit-grid-line.toolkit-highlight {
    stroke: #aacc00;
}
.toolkit-frequency-response > svg > .toolkit-grid > .toolkit-grid-label.toolkit-highlight {
    fill: rgb(255,255,255);
}


.toolkit-gauge > svg > .toolkit-circular {
    fill: #666;
}

.toolkit-gauge > svg > .toolkit-circular > .toolkit-base {
    fill: white;
}

.toolkit-gauge > svg > .toolkit-title {
    fill: #666;
}

.toolkit-graph {
    stroke: white;
}
.toolkit-graph.toolkit-filled {
    stroke: white;
    fill: rgba(255, 255, 255, 0.25);
}
.toolkit-graph.toolkit-outline {
    stroke: white;
    fill: none;
}

.toolkit-grid-line {
    stroke: #666;
}
.toolkit-grid-label {
    fill: #999;
}




.toolkit-knob > svg > .toolkit-circular > .toolkit-hand {
    fill: #666;
}
.toolkit-knob > svg > .toolkit-circular > .toolkit-value {
    fill: #aacc00;
}

.toolkit-value > .toolkit-input {
    background: white;
    color: #666;
}
.toolkit-value.toolkit-active > .toolkit-input {
    background: #aacc00;
    color: white;
}

.toolkit-level-meter.toolkit-clipping > .toolkit-label {
    color: #aacc00;
    text-shadow: 0 0 3px white, 0 0 3px white;
}
.toolkit-level-meter > .toolkit-clip {
    background-color: #aacc00;
}
.toolkit-level-meter.toolkit-vertical.toolkit-left > .toolkit-bar > .toolkit-peak::before {
    border-left-color: #e3e3e3;
}
.toolkit-level-meter.toolkit-vertical.toolkit-right > .toolkit-bar > .toolkit-peak::before {
    border-right-color: #e3e3e3;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-top > .toolkit-bar > .toolkit-peak::before {
    border-top-color: #e3e3e3;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-bottom > .toolkit-bar > .toolkit-peak::before {
    border-bottom-color: #e3e3e3;
}
.toolkit-level-meter.toolkit-vertical > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    text-shadow: 0 1px 2px white, 0 1px 2px white;
}
.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    text-shadow: -1px 0 2px white, -1px 0 2px white;
}

.toolkit-meter-base > .toolkit-bar > .toolkit-mask {
    background: white;
}
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-marker,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-min,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-max,
.toolkit-meter-base > .toolkit-bar > .toolkit-mark > .toolkit-dot.toolkit-base {
    background: white;
}

.toolkit-multi-meter > .toolkit-level-meter > .toolkit-bar,
.toolkit-multi-meter > .toolkit-level-meter > .toolkit-state {
    border-color: white !important;
}

.toolkit-response-handle {
    fill: #aaa;
}
.toolkit-response-handle > .toolkit-handle {
    fill: #aacc00;
}
.toolkit-response-handle.toolkit-warn > .toolkit-handle {
    stroke: rgba(170, 204, 0, 0.33);
}
.toolkit-response-handle > .toolkit-z-handle {
    fill: #aacc00;
    stroke: rgba(170, 204, 0, 0.5);
}
.toolkit-response-handle > .toolkit-z-handle:hover {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-active > .toolkit-z-handle {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-circular > .toolkit-line {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-line > .toolkit-line-1 {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-line > .toolkit-line-2 {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-block > .toolkit-line-1 {
    stroke: #aacc00;
}
.toolkit-response-handle.toolkit-block > .toolkit-line-2 {
    stroke: #aacc00;
}

.toolkit-button.toolkit-select > .toolkit-cell > .toolkit-arrow {
    border-top-color: #666;
}
.toolkit-select-list {
    background: white;
}
.toolkit-select-list > .toolkit-option:hover {
    background: #aacc00;
    color: white;
}
.toolkit-select-list > .toolkit-option.toolkit-active {
    background: #666;
    color: white;
}

.toolkit-scale > .toolkit-label.toolkit-base {
    color: #aacc00;
}
.toolkit-scale > .toolkit-dot {
    background: #666;
}
.toolkit-scale > .toolkit-dot.toolkit-base {
    background: #aacc00;
}



.toolkit-state {
    background-color: white;
}

.toolkit-state > .toolkit-mask {
    background: white;
}


.toolkit-valuebutton > .toolkit-bar {
    background: #e3e3e3;
}
.toolkit-valuebutton > .toolkit-bar > .toolkit-base {
    background: #aacc00;
}
.toolkit-valuebutton.toolkit-vertical-bar > .toolkit-marker {
    border-color: transparent #aacc00 transparent transparent;
}
.toolkit-valuebutton.toolkit-horizontal-bar > .toolkit-marker {
    border-color: #aacc00 transparent transparent transparent;
}


.toolkit-window {
    background: #e3e3e3;
}
.toolkit-window > .toolkit-header {
    background: #aacc00;
    color: white;
}
.toolkit-window > .toolkit-footer {
    border-color: white;
}
.toolkit-window > .toolkit-header .toolkit-button  {
    background: transparent;
    border-color: transparent;
}
.toolkit-window > .toolkit-header .toolkit-button .toolkit-icon  {
    color: white !important;
}
