div.scale {
    font-size: 8px;
}
div.scale span.label {
    height: 7px;
    line-height: 7px;
    color: #aaa;
}
div.scale span.label.base {
    color: #951c26;
    font-weight: 500;
}
div.scale span.label.min {
    color: #666;
}
div.scale span.label.max {
    color: #666;
}
div.scale div.dot {
    width: 1px;
    height: 1px;
    background: #aaa;
}
div.scale div.dot.base {
    background: #951c26;
}
div.scale div.dot.min {
    background: #666;
}
div.scale div.dot.max {
    background: #666;
}
div.scale div.dot.marker {
    background: #666;
}
/* VERTICAL */

div.scale.vertical {
    
}
div.scale.vertical span.label {
    
}
div.scale.vertical span.label.base {
    
}
div.scale.vertical span.label.min {
    
}
div.scale.vertical span.label.max {
    
}
div.scale.vertical div.dot {
    width: 2px;
}
div.scale.vertical div.dot.base {
    width: 4px;
}
div.scale.vertical div.dot.min {
    width: 4px;
}
div.scale.vertical div.dot.max {
    width: 4px;
}
div.scale.vertical div.dot.marker {
    width: 4px;
}
/* VERTICAL sticked to LEFT */

div.scale.vertical.left {
    text-align: left;
}
div.scale.vertical.left span.label {
    left: 6px;
    margin-right: 6px;
}
div.scale.vertical.left span.label.base {
    
}
div.scale.vertical.left span.label.min {
    
}
div.scale.vertical.left span.label.max {
    
}
div.scale.vertical.left div.dot {
    left: 0;
}
div.scale.vertical.left div.dot.base {
    
}
div.scale.vertical.left div.dot.min {
    
}
div.scale.vertical.left div.dot.max {
    
}
div.scale.vertical.left div.dot.marker {
    
}
/* VERTICAL sticked to RIGHT */

div.scale.vertical.right {
    text-align: right;
}
div.scale.vertical.right span.label {
    right: 6px;
    margin-left: 6px;
}
div.scale.vertical.right span.label.base {
    
}
div.scale.vertical.right span.label.min {
    
}
div.scale.vertical.right span.label.max {
    
}
div.scale.vertical.right div.dot {
    right: 0;
}
div.scale.vertical.right div.dot.base {
    
}
div.scale.vertical.right div.dot.min {
    
}
div.scale.vertical.right div.dot.max {
    
}
div.scale.vertical.right div.dot.marker {
    
}
/* HORIZONTAL */

div.scale.horizontal {
    
}
div.scale.horizontal span.label {
    
}
div.scale.horizontal span.label.base {
    
}
div.scale.horizontal span.label.min {
    
}
div.scale.horizontal span.label.max {
    
}
div.scale.horizontal div.dot {
    height: 2px;
}
div.scale.horizontal div.dot.base {
    height: 4px;
}
div.scale.horizontal div.dot.min {
    height: 4px;
}
div.scale.horizontal div.dot.max {
    height: 4px;
}
div.scale.horizontal div.dot.marker {
    height: 4px;
}
/* HORIZONTAL sticked to BOTTOM */

div.scale.horizontal.bottom {
    
}
div.scale.horizontal.bottom span.label {
    margin-top: 8px;
    bottom: 6px;
}
div.scale.horizontal.bottom span.label.base {
    
}
div.scale.horizontal.bottom span.label.min {
    
}
div.scale.horizontal.bottom span.label.max {
    
}
div.scale.horizontal.bottom div.dot {
    bottom: 0;
}
div.scale.horizontal.bottom div.dot.base {
    
}
div.scale.horizontal.bottom div.dot.min {
    
}
div.scale.horizontal.bottom div.dot.max {
    
}
div.scale.horizontal.bottom div.dot.marker {
    
}
/* HORIZONTAL sticked to TOP */

div.scale.horizontal.top {
    
}
div.scale.horizontal.top span.label {
    margin-bottom: 8px;
    top: 6px;
}
div.scale.horizontal.top span.label.base {
    
}
div.scale.horizontal.top span.label.min {
    
}
div.scale.horizontal.top span.label.max {
    
}
div.scale.horizontal.top div.dot {
    top: 0;
}
div.scale.horizontal.top div.dot.base {
    
}
div.scale.horizontal.top div.dot.min {
    
}
div.scale.horizontal.top div.dot.max {
    
}
div.scale.horizontal.top div.dot.marker {
    
}