/*
 * This file is part of Toolkit.
 *
 * Toolkit is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Toolkit is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU General
 * Public License along with this program; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA  02110-1301  USA
 */

@import "fonts/Toolkit.css";

/* ############################ RESET CSS ########################### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
pre, code {
    font-family: monospace;
}


/* ########################### GENERIC CSS ########################## */

.toolkit-disabled {
    opacity: 0.3;
    pointer-events: none;
}

.toolkit-inactive {
    opacity: 0.3;
}

.toolkit-widget {
    contain: style layout;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -moz-user-select:      none; /* Firefox */
    -ms-user-select:       none; /* Internet Explorer */
    -khtml-user-select:    none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select:   none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.toolkit-input {
    -moz-user-select:      all; /* Firefox */
    -ms-user-select:       all; /* Internet Explorer */
    -khtml-user-select:    all; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select:   all; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: all; /* Disable Android and iOS callouts*/
}


/* #################### WIDGETS IMPORTANT STYLES #################### */
/* The following styles are important for the widgets functionality
 * and are not related to their appearance or design. */

/* ROOT */

.toolkit-root {
    display: block;
    position: relative;
}

/* BUTTON */

.toolkit-button > .toolkit-cell > .toolkit-label,
.toolkit-button > .toolkit-cell > .toolkit-icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.toolkit-button.toolkit-has-label.toolkit-vertical > .toolkit-cell > .toolkit-label {
    display: block;
}
.toolkit-button.toolkit-has-label.toolkit-horizontal > .toolkit-cell > .toolkit-label {
    display: inline-block;
}
.toolkit-button.toolkit-has-icon > .toolkit-cell > .toolkit-icon {
    display: inline-block;
}

/* BUTTONARRAY */

.toolkit-buttonarray {
    box-sizing: border-box;
    position: relative;
}
.toolkit-buttonarray > .toolkit-previous {
    position: absolute;
}
.toolkit-buttonarray > .toolkit-next {
    position: absolute;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-previous {
    top: 0;
    width: 100%;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-next {
    bottom: 0;
    width: 100%;
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-previous {
    left: 0;
    height: 100%;
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-next {
    top: 0;
    right: 0px;
    height: 100%;
}
.toolkit-buttonarray > .toolkit-clip {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.toolkit-buttonarray.toolkit-horizontal.toolkit-scroll > .toolkit-clip {
    overflow-x: scroll !important;
}
.toolkit-buttonarray.toolkit-vertical.toolkit-scroll > .toolkit-clip {
    overflow-y: scroll !important;
}
.toolkit-buttonarray > .toolkit-clip > .toolkit-container {
    position: relative;
}
.toolkit-buttonarray.toolkit-horizontal > .toolkit-clip > .toolkit-container {
    height: 100%;
    white-space: nowrap;
}
.toolkit-buttonarray.toolkit-vertical > .toolkit-clip > .toolkit-container {
    width: 100%;
}

/* CONTAINER */

.toolkit-container.toolkit-hide {
    display: none !important;
}

/* CHART */

.toolkit-chart {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position:relative;
}
.toolkit-chart > svg {
    box-sizing: content-box;
}
.toolkit-chart > svg > .toolkit-key {
    pointer-events: none;
}

/* CLOCK */

.toolkit-widget.toolkit-clock {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* FADER */

.toolkit-fader {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    position: relative;
}

.toolkit-fader > .toolkit-handle {
    position: absolute;
    z-index: 10;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.toolkit-fader.toolkit-horizontal > .toolkit-handle {
    left: 0;
}

.toolkit-fader.toolkit-vertical > .toolkit-handle {
    bottom: 0;
}

/* ICON */

.toolkit-icon {
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

/* LEVELMETER */

.toolkit-level-meter > .toolkit-clip {
    display: none;
    position: absolute;
    margin: 0;
    width: auto;
    height: auto;
}
.toolkit-level-meter.toolkit-has-clip > .toolkit-clip {
    display: block;
}
.toolkit-level-meter > .toolkit-bar > .toolkit-peak {
    position: absolute;
    z-index: 1000;
    display: none;
}
.toolkit-level-meter.toolkit-has-peak > .toolkit-bar > .toolkit-peak {
    display: block;
}

.toolkit-level-meter.toolkit-vertical.toolkit-left > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    float: left;
}
.toolkit-level-meter.toolkit-vertical.toolkit-right > .toolkit-bar > .toolkit-peak .toolkit-peak-label {
    float: right;
}

.toolkit-level-meter.toolkit-horizontal > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    transform: rotate(-90deg);
}
.toolkit-level-meter.toolkit-horizontal.toolkit-top > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    float: right;
}
.toolkit-level-meter.toolkit-horizontal.toolkit-bottom > .toolkit-bar > .toolkit-peak > .toolkit-peak-label {
    float: left;
}

/* METERBASE */

.toolkit-meter-base {
    position: relative;
}
.toolkit-meter-base .toolkit-label {
    position: absolute;
    display: none;
    white-space: nowrap;
}
.toolkit-meter-base.toolkit-has-label > .toolkit-label {
    display: block;
}
.toolkit-meter-base > .toolkit-title {
    position: absolute;
    display: none;
    white-space: nowrap;
}
.toolkit-meter-base.toolkit-has-title > .toolkit-title {
    display: block;
}
.toolkit-meter-base > .toolkit-scale {
    position: absolute;
    display: none;
}
.toolkit-meter-base.toolkit-has-scale > .toolkit-scale {
    display: block;
}
.toolkit-meter-base > .toolkit-bar {
    position: absolute;
}
.toolkit-meter-base > .toolkit-bar > .toolkit-over {
    position: absolute;
    width:    100%;
    height:   100%;
    z-index:  100;
    background-position: bottom left;
}
.toolkit-meter-base > .toolkit-bar > .toolkit-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}
.toolkit-meter-base > .toolkit-bar > .toolkit-mark {
    position: absolute;
    width:    100%;
    height:   100%;
    z-index:  10;
}
.toolkit-meter-base.toolkit-vertical > .toolkit-bar > .toolkit-mark > .toolkit-dot {
    width: 100%;
    height: 1px;
    margin-top: 0px;
}
.toolkit-meter-base.toolkit-horizontal > .toolkit-bar > .toolkit-mark > .toolkit-dot {
    width: 1px;
    height: 100%;
    margin-left: 0px;
}

/* PAGER */

.toolkit-pager {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.toolkit-pager > .toolkit-clip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.toolkit-pager > .toolkit-clip > .toolkit-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: translate3d(0,0,0);
}
.toolkit-pager.toolkit-right > .toolkit-buttonarray {
    float: right;
}

/* BUTTONARRAY */

.toolkit-pager > .toolkit-buttonarray{
    position: absolute;
}
.toolkit-pager.toolkit-top > .toolkit-buttonarray {
    top: 0;
}
.toolkit-pager.toolkit-right > .toolkit-buttonarray {
    right: 0;
}
.toolkit-pager.toolkit-bottom > .toolkit-buttonarray {
    bottom: 0;
}
.toolkit-pager.toolkit-left > .toolkit-buttonarray {
    left: 0;
}

/* RESPONSEHANDLE */

.toolkit-response-handle {
    display: block;
}
.toolkit-response-handle.toolkit-inactive {
    display: none;
}
.toolkit-response-handle.toolkit-circular > .toolkit-line {
    display: none;
}
.toolkit-response-handle.toolkit-circular.toolkit-active > .toolkit-line {
    display: block;
}
.toolkit-response-handle.toolkit-line > .toolkit-line-2 {
    display: none;
}
.toolkit-response-handle.toolkit-line.toolkit-active > .toolkit-line-2 {
    display: block;
}
.toolkit-response-handle.toolkit-block > .toolkit-line-2 {
    display: none;
}
.toolkit-response-handle.toolkit-block.toolkit-active > .toolkit-line-2 {
    display: block;
}

/* SCALE */

.toolkit-scale {
    position: relative;
}

.toolkit-scale > .toolkit-label {
    position: absolute;
    display: block;
    float: left;
}

.toolkit-scale > .toolkit-dot {
    position: absolute;
}

.toolkit-scale.toolkit-vertical > .toolkit-label {
    transform: translateY(50%);
}

.toolkit-scale.toolkit-vertical > .toolkit-max,
.toolkit-scale.toolkit-vertical.toolkit-reverse > .toolkit-min {
    transform: translateY(100%);
}

.toolkit-scale.toolkit-vertical > .toolkit-min,
.toolkit-scale.toolkit-vertical.toolkit-reverse > .toolkit-max {
    transform: translateY(0);
}

.toolkit-scale.toolkit-horizontal > .toolkit-label {
    transform: translateX(-50%);
}

.toolkit-scale.toolkit-horizontal > .toolkit-max,
.toolkit-scale.toolkit-horizontal.toolkit-reverse > .toolkit-min {
    transform: translateX(-100%);
}

.toolkit-scale.toolkit-horizontal > .toolkit-min,
.toolkit-scale.toolkit-horizontal.toolkit-reverse > .toolkit-max {
    transform: translateX(0);
}

/* SELECT */

.toolkit-button.toolkit-select > .toolkit-cell > .toolkit-label {
    float: left;
}
.toolkit-button.toolkit-select > .toolkit-arrow {
    float: right;
}
.toolkit-select-list {
    position: absolute;
    z-index: 100000;
    box-sizing: border-box;
    overflow-y: auto;
}
.toolkit-select-list > .toolkit-option {
    white-space: nowrap;
    display: block;
}

/* STATE */

.toolkit-state > .toolkit-mask {
    width: 100%;
    height: 100%;
}

/* TOOLTIP */

.toolkit-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}
.toolkit-tooltip > .toolkit-table {
    display: table;
    width: 100vw;
    height: 100vh;
    table-layout: auto;
}
.toolkit-tooltip > .toolkit-table > .toolkit-row {
    display: table-row;
}
.toolkit-tooltip > .toolkit-table > .toolkit-row > .toolkit-cell {
    display: table-cell;
    height: auto;
}
.toolkit-tooltip > .toolkit-table > .toolkit-row > .toolkit-cell > .toolkit-entry {
    white-space: nowrap;
    display: table-cell;
}

/* VALUE */

.toolkit-value > .toolkit-input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

/* VALUEBUTTON */

.toolkit-valuebutton {
    position: relative;
}

/* VALUEKNOB */

.toolkit-valueknob {
    position: relative;
}

/* WINDOW */

.toolkit-window {
    position: absolute;
    z-index: 10000;
    overflow: hidden;
}
.toolkit-window > .toolkit-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
}
.toolkit-window > .toolkit-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolkit-window .toolkit-title {
    white-space: nowrap;
}
.toolkit-window .toolkit-status {
    white-space: nowrap;
}
.toolkit-window > .toolkit-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10000000;
    cursor: se-resize;
}

/* KNOB */

.toolkit-knob > svg {
    width: 100%;
    height: 100%;
    transform: translate3d(0,0,0);
    will-change: transform;
}

/* GAUGE */

.toolkit-gauge {
    position: relative;
}

.toolkit-gauge > svg {
    width: 100%;
    height: 100%;
}

/* VALUEKNOB */

.toolkit-valueknob > .toolkit-knob {
    width: 100%;
    height: 100%;
}

/* EXPANDER */

.toolkit-expander {
    position: relative;
}

.toolkit-expander.toolkit-always-expanded > .toolkit-toggle-expand {
    display: none;
}

/* popup */
.toolkit-expander.toolkit-popup.toolkit-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    margin: 0;
}
.toolkit-expander.toolkit-popup > .toolkit-toggle-expand {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}
.toolkit-expander.toolkit-popup.toolkit-expanded > .toolkit-toggle-expand {
    opacity: 1;
    top: 10px;
    right: 10px;
    left: auto;
    bottom: auto;
}

/* drawer right */
.toolkit-expander.toolkit-drawer-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 500ms;
}

.toolkit-expander.toolkit-drawer-right.toolkit-expanded {
    transform: translateX(0%);
}

.toolkit-expander.toolkit-drawer-right > .toolkit-toggle-expand {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

/* drawer left */
.toolkit-expander.toolkit-drawer-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
}

.toolkit-expander.toolkit-drawer-left.toolkit-expanded {
    transform: translateX(0%);
}

.toolkit-expander.toolkit-drawer-left > .toolkit-toggle-expand {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

/* hide */
.toolkit-expander.toolkit-remove {
    display: none;
}

.toolkit-expander.toolkit-remove.toolkit-expanded {
    display: block;
}

.toolkit-expander.toolkit-remove > .toolkit-toggle-expand {
    display: none;
}
/* BUTTON */
.toolkit-button > .toolkit-cell >  .toolkit-icon {
    pointer-events: none;
}
