.toolkit-response-handle {
    opacity: 0.3;
    fill: rgb(255,255,255);
}
.toolkit-response-handle.toolkit-hover {
    opacity: 0.6;
}
.toolkit-response-handle.toolkit-active {
    cursor: move !important;
    opacity: 0.9;
}
.toolkit-response-handle.toolkit-warn {
    
}
.toolkit-response-handle.toolkit-circular {
    
}
.toolkit-response-handle.toolkit-line-vertical {
    
}
.toolkit-response-handle.toolkit-line-horizontal {
    
}
.toolkit-response-handle.toolkit-block-left {
    
}
.toolkit-response-handle.toolkit-block-right {
    
}
.toolkit-response-handle.toolkit-block-top {
    
}
.toolkit-response-handle.toolkit-block-bottom {
    
}


.toolkit-response-handle .toolkit-label {
    cursor:pointer;
    font-size: 9px;
}
.toolkit-response-handle.toolkit-active .toolkit-label {
    cursor:move;
}
.toolkit-response-handle .toolkit-label tspan {
    
}
.toolkit-response-handle.circle .toolkit-label {
    
}
.toolkit-response-handle.line-vertical .toolkit-label {
    
}
.toolkit-response-handle.line-horizontal .toolkit-label {
    
}
.toolkit-response-handle.block-left .toolkit-label {
    
}
.toolkit-response-handle.block-right .toolkit-label {
    
}
.toolkit-response-handle.block-top .toolkit-label {
    
}
.toolkit-response-handle.block-bottom .toolkit-label {
    
}



.toolkit-response-handle .toolkit-handle {
    cursor:pointer;
}
.toolkit-response-handle.toolkit-active .toolkit-handle {
    cursor:move;
}
.toolkit-response-handle.toolkit-warn .toolkit-handle {
    stroke: rgba(255,255,255,0.2);
    stroke-width: 20;
}
.toolkit-response-handle.circle .toolkit-handle {
    
}
.toolkit-response-handle.line-vertical .toolkit-handle {
    
}
.toolkit-response-handle.line-horizontal .toolkit-handle {
    
}
.toolkit-response-handle.block-left .toolkit-handle {
    
}
.toolkit-response-handle.block-right .toolkit-handle {
    
}
.toolkit-response-handle.block-top .toolkit-handle {
    
}
.toolkit-response-handle.block-bottom .toolkit-handle {
    
}

.toolkit-response-handle .toolkit-line {
    stroke: white;
    stroke-width: 1;
    display: none;
    opacity: 0.5;
}
.toolkit-response-handle.toolkit-hover .toolkit-line {
    
}
.toolkit-response-handle.toolkit-active .toolkit-line {
    display: block;
}
.toolkit-response-handle.circle .toolkit-line {
    
}
.toolkit-response-handle.line-vertical .toolkit-line {
    
}
.toolkit-response-handle.line-horizontal .toolkit-line {
    
}
.toolkit-response-handle.block-left .toolkit-line {
    
}
.toolkit-response-handle.block-right .toolkit-line {
    
}
.toolkit-response-handle.block-top .toolkit-line {
    
}
.toolkit-response-handle.block-bottom .toolkit-line {
    
}