body {
    color: #666;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    overflow-y: scroll;
}

.box,
.toolkit-meter-base,
.toolkit-window {
    background: #eee;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.inset,
.toolkit-state,
.toolkit-meter-base .toolkit-bar,
.toolkit-chart {
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #fff;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #f3f3f3;
    /*-webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;*/
}
