/*
    AVAILABLE DEFAULT BACKGROUNDS
    background: url(../images/default/grid_soft.png);
    background: url(../images/default/grid_strong.png);
    background: url(../images/default/slim_soft_vertical.png);
    background: url(../images/default/slim_strong_vertical.png);
    background: url(../images/default/slim_soft_horizontal.png);
    background: url(../images/default/slim_strong_horizontal.png);
    background: url(../images/default/led_vertical.png);
    background: url(../images/default/led_horizontal.png);
    background: url(../images/default/bevel_soft_vertical.png);
    background: url(../images/default/bevel_strong_vertical.png);
    background: url(../images/default/bevel_soft_horizontal.png);
    background: url(../images/default/bevel_strong_horizontal.png);
*/

/* UNIVERSAL */

div.meter-base {
    float: left;
    padding: 6px;
}
div.meter-base div.label {
    height: 16px;
    line-height: 16px;
}
div.meter-base div.title {
    height: 16px;
    line-height: 16px;
}
div.meter-base div.meter-scale {
    position: relative;
}
div.meter-base div.bar {
    
}
div.meter-base div.bar div.base {
    
}
div.meter-base div.bar div.mark {
    
}
div.meter-base div.bar div.over {
    opacity: 0.66;
}
div.meter-base div.bar div.mask {
    background: black;
    opacity: 0.66;
}


div.meter-base div.meter-scale div.dot {
    
}

/* VERTICAL */

div.meter-base.vertical {
    height: 250px;
}
div.meter-base.vertical div.label {
    text-align: center;
}
div.meter-base.vertical div.title {
    text-align: center;
    clear: both;
}
div.meter-base.vertical div.meter-scale {
    margin: 5px 2px;
}
div.meter-base.vertical div.bar {
    width: 30px;
    margin: 2px 0 2px 0;
}
div.meter-base.vertical div.bar div.base {
    
}
div.meter-base.vertical div.bar div.mark {
    
}
div.meter-base.vertical div.bar div.over {
    background: url(../images/slim_soft_vertical.png);
}
div.meter-base.vertical div.bar div.mask {
    
}
div.meter-base.vertical.reverse div.bar div.mask {
    
}

/* VERTICAL LEFT */

div.meter-base.vertical.left {
    margin: 10px 10px 10px 2px;
}
div.meter-base.vertical.left div.label {
    
}
div.meter-base.vertical.left div.title {
    
}
div.meter-base.vertical.left div.meter-scale {
    float: right;
}
div.meter-base.vertical.left div.bar {
    float: left;
}
div.meter-base.vertical.left div.bar div.base {
    
}
div.meter-base.vertical.left div.bar div.mark {
    
}
div.meter-base.vertical.left div.bar div.over {
    
}
div.meter-base.vertical.left div.bar div.mask {
    
}


/* VERTICAL RIGHT */

div.meter-base.vertical.right {
    margin: 10px 2px 10px 10px;
}
div.meter-base.vertical.right div.label {
    
}
div.meter-base.vertical.right div.title {
    
}
div.meter-base.vertical.right div.meter-scale {
    float: left;
}
div.meter-base.vertical.right div.bar {
    float: right;
}
div.meter-base.vertical.right div.bar div.base {
    
}
div.meter-base.vertical.right div.bar div.mark {
    
}
div.meter-base.vertical.right div.bar div.over {
    
}
div.meter-base.vertical.right div.bar div.mask {
    
}


/* HORIZONTAL */

div.meter-base.horizontal {
    width: 300px;
}
div.meter-base.horizontal div.title {
    text-align: left;
    float: left;
    width: 49%;
    margin-bottom: 2px;
    padding: 0 3px;
}
div.meter-base.horizontal div.label {
    text-align: right;
    float: right;
    width: 45%;
    margin-bottom: 2px;
    padding: 0 3px;
}
div.meter-base.horizontal div.meter-scale {
    margin: 2px 2px;
    clear: both;
}
div.meter-base.horizontal div.bar {
    height: 30px;
    float: left;
}
div.meter-base.horizontal div.bar div.base {
    
}
div.meter-base.horizontal div.bar div.mark {
    
}
div.meter-base.horizontal div.bar div.over {
    background: url(../images/slim_soft_horizontal.png);
}
div.meter-base.horizontal div.bar div.mask {
    
}
div.meter-base.horizontal.reverse div.bar div.mask {
    
}

/* HORIZONTAL TOP */

div.meter-base.horizontal.top {
    margin: 2px 10px 10px 10px;
}
div.meter-base.horizontal.top div.title {
    
}
div.meter-base.horizontal.top div.label {
    
}
div.meter-base.horizontal.top div.meter-scale {
    
}
div.meter-base.horizontal.top div.bar {
    
}
div.meter-base.horizontal.top div.bar div.base {
    
}
div.meter-base.horizontal.top div.bar div.mark {
    
}
div.meter-base.horizontal.top div.bar div.over {
    
}
div.meter-base.horizontal.top div.bar div.mask {
    
}


/* HORIZONTAL BOTTOM */

div.meter-base.horizontal.bottom {
    margin: 10px 10px 2px 10px;
}
div.meter-base.horizontal.bottom div.title {
    
}
div.meter-base.horizontal.bottom div.label {
    
}
div.meter-base.horizontal.bottom div.meter-scale {
    
}
div.meter-base.horizontal.bottom div.bar {
    
}
div.meter-base.horizontal.bottom div.bar div.base {
    
}
div.meter-base.horizontal.bottom div.bar div.mark {
    
}
div.meter-base.horizontal.bottom div.bar div.over {
    
}
div.meter-base.horizontal.bottom div.bar div.mask {
    
}


/* SCALE */
div.meter-base div.scale {
    color: #aaa;
}
div.meter-base div.scale span.label {
    
}
div.meter-base div.scale span.label.base {
    color: #666;
}
div.meter-base div.scale span.label.min {
    
}
div.meter-base div.scale span.label.max {
    
}
div.meter-base div.scale div.dot {
    
}
div.meter-base div.scale div.dot.base {
    
}
div.meter-base div.scale div.dot.min {
    
}
div.meter-base div.scale div.dot.max {
    
}
div.meter-base div.scale div.dot.marker {
    
}