.button {
    padding: 8px 16px;
    color: 00365f;
    text-shadow: 0px 1px 0px white;
    background-color: rgb(245,245,245);
    background-image: url(../images/gradients/grey_out.png);
    background-repeat: repeat-x;
    background-size: 100% 200%;
    background-position: 50% 0;
    border: 1px solid #aaa;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/gradients/grey_out.png',sizingMethod='scale');
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.button:hover {
    border: 1px solid #00365f;
    background-size: 100% 12s0%;
    background-position: 50% 0;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.button:active {
    background-image: url(../images/gradients/grey_in.png);
    background-size: 100% 250%;
    background-position: 50% 75%;
    -webkit-box-shadow: 0px 3px 0px rgba(255,255,255,0.5), 0px -3px 0px rgba(0,0,0,0.05), 2px 0px 0px rgba(255,255,255,0.3), 0px -2px 0px rgba(0,0,0,0.025);
    -moz-box-shadow: 0px 3px 0px rgba(255,255,255,0.5), 0px -3px 0px rgba(0,0,0,0.05), 2px 0px 0px rgba(255,255,255,0.3), 0px -2px 0px rgba(0,0,0,0.025);
    box-shadow: 0px 3px 0px rgba(255,255,255,0.5), 0px -3px 0px rgba(0,0,0,0.05), 2px 0px 0px rgba(255,255,255,0.3), 0px -2px 0px rgba(0,0,0,0.025);
}
.button div.label {
    text-align: center;
    margin: auto;
}
.button img.icon {
    margin: auto;
    margin-bottom: 5px;
}

.button.active {
    border: 1px solid #00365f;
    -webkit-box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
    box-shadow: 0px 3px 0px rgba(255,255,255,0.33), 0px -3px 0px rgba(0,0,0,0.033), 2px 0px 0px rgba(255,255,255,0.2), 0px -2px 0px rgba(0,0,0,0.02);
}
.button.active .label {
    background-color: #00365f;
    color: white;
    text-shadow: 0px -1px 0px black;
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5), inset 0 4px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 0px (255,255,255,0.5), inset 0 4px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 0px (255,255,255,0.5), inset 0 4px 8px rgba(0,0,0,0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
    
}